[2018-12-13 13:06] Zhephyr54 commented on #1009
I am in the exact same situation wanting to use this awesome library but holding back because of grid support lacking...

[2018-12-13 13:08] lenastshaleb commented on #1009
+1

[2018-12-14 03:39] jesstelford opened #1013 "Draggables moving behaviour inverted in some cases"
## Bug or feature request?

Bug

### Expected behavior

1. Draggable moves out of the way once center of gravity of dragged item moves over it.
2. Draggable only moves out of the way when dragging toward it

### Actual behavior

1. Draggable is moving out of the way _before_ center of gravity of dragged item has moved over it, because...
2. moving the dragged item _away from_ a draggable makes tha

[2018-12-14 07:59] dcporter44 commented on #981
Ideally:
On drag and after height change, position the center of the newly sized Draggable at the cursor position.

[2018-12-14 09:51] gFaro commented on #985
Thanks for your response. I fixed my issue with display: inline-flex and some css and html modifications. I did find it a bit weird that the js was working fine but the issues were css related, which sent me on the wrong path, but doesn't detract from an otherwise good library.

However the bigger issue is that I am building a chart component with many charts that can be dragged around horizontall

[2018-12-14 16:10] FINDarkside commented on #775
Not sure why this is closed. He said that it still needs to be draggable. I thinks it's fair to say that react-beautiful-dnd does not support this as it is not on the demo page. Sure, `flex-wrap: wrap;` will wrap the item, but it will mess with the dragging.

[2018-12-14 22:57] bretcope opened #1015 "Draggable width changes when inside Flex container"
There appears to be an issue when using flex to auto-size sibling elements, and then using those siblings as parent containers for `<Droppable>` nodes. Once the drag starts, the remaining `<Draggable>` nodes in the list resize.

I created a simple example to reproduce the behavior: https://codesandbox.io/s/zwnzx8wz0x

It causes this behavior:

![flexlistsbug](https://user-images.githubusercontent.

[2018-12-14 23:44] bretcope commented on #1015
I discovered the issue:

Instead of `flex: 1 1 auto` (aka `flex-fill`),
I needed to set `flex-grow: 1; flex-basis: 0;`

Updated example works fine: https://codesandbox.io/s/013o7koknp

It also works fine with Bootstrap's row/col grid.

Hopefully this will save someone else a little bit of time. Thanks.

[2018-12-14 23:44] #1015 closed

[2018-12-17 19:04] mackermedia commented on #634
@claytron5000 : I'm seeing the same thing and downgrading to `^6.0.0` fixes it here too. I'm not in love with the functionality of `6.0.x` though, any ideas on how to get it to work with a newer version?

[2018-12-17 19:47] tylik1 opened #1019 "All examples page not working"
## Bug or feature request?

Bug

All examples page not working
https://react-beautiful-dnd.netlify.com/

In Chrome dev tools I can see the following bug:

`
Uncaught TypeError: (void 0) is not a function
    at 34c4d1c725a2349b7d3c6684bd7a3f26e8eea2d0.js:1
    at Object.<anonymous> (34c4d1c725a2349b7d3c6684bd7a3f26e8eea2d0.js:1)
    at f (34c4d1c725a2349b7d3c6684bd7a3f26e8eea2d0.js:1)
    at Objec

[2018-12-17 22:21] #1019 closed

[2018-12-17 22:22] alexreardon commented on #1019
Thank you for raising this @tylik1! It is now fixed

Here was the cause: https://github.com/storybooks/storybook/issues/4796

It looks like storybook v4 is relying on an old version of emotion core as a peer dep

[2018-12-18 00:06] markbrown4 opened #1021 "Draggables not working for heavy handed touch"
## Bug

A simple vertical list with sortable div's does not work reliably on touch devices, (tested on iPhone6).
Only when you touch lightly and hold does it work, if you're too heavy handed you can't use the Draggables at all.

The demo example shows this behaviour:
https://codesandbox.io/s/k260nyxq9v

### Expected behavior

For simple lists without links you should be able to drag on the handle

[2018-12-18 00:40] alexreardon commented on #77
Things still to overcome:

- strange animations in home list when changing foreign list
- margin collapsing related to placeholder removal
- colouring home list in examples to indicate home (easy to implement - but i want to see how it looks)

[2018-12-18 00:40] alexreardon commented on #77
## Early prototype

It looks great! 👍

![animate-movement](https://user-images.githubusercontent.com/2182637/50124649-b9262180-02b9-11e9-9bf4-0d892e7cdf17.gif)

[2018-12-18 00:47] alexreardon commented on #1021
Here is the relevant code:

[code]

Right now we cancel a drag if we detect a force press.

Here is the relevant section from the README:

In order to respect force touch interactions we opt out of a touch drag starting if we detect a force press

[2018-12-18 00:51] alexreardon commented on #1021
To your point though, this can leave only a small window of pressure for dragging.

[2018-12-18 00:52] alexreardon commented on #1021
Perhaps we could only apply the logic for certain tag types, or make it a prop? 🤔

[2018-12-18 00:56] markbrown4 commented on #1021
Yep, removing that code makes it work consistently for me, I'll fork for now.

I believe force touch is only relevant when the Draggables are links, so there should be a way to opt in to that extra code when needed.  It makes it unusable in the simple case.

[2018-12-18 01:30] zedzedQ commented on #1009
same issue here, it might be possible by using css flex box? if we know the actual size

[2018-12-18 03:12] alexreardon commented on #1021
We could look at setting an allow list of tag names where we do the force press detection.

Alternatively, we could have an `overrideForcePress` (or similarly named) prop

[2018-12-18 03:16] markbrown4 commented on #1021
@levibuzolic has an example of making this force push handling opt-out with a prop.

https://github.com/atlassian/react-beautiful-dnd/compare/master...levibuzolic:canCancelDragWithForceTouch?expand=1

Would you be open to adding a prop like this?  The future of force touch is shaky so I don't know if you want to add it to your API.

[2018-12-18 03:35] alexreardon commented on #1021
I wonder if an allow list based on tag would be a better path forward..

[2018-12-18 03:38] levibuzolic commented on #1021
That could work, though wouldn't that potentially mean that custom force touch elements wouldn't work?

Another alternative would be to allow the `forcePressThreshold` to be configured directly. 🤔

[2018-12-18 03:39] alexreardon commented on #1021
I think it better to keep a boolean if we where to go down the prop approach given that people will want to be either opting in or out

[2018-12-18 03:42] alexreardon commented on #1021
I think giving consumers the choice could be the right move given that force press activates on a fairly light touch

[2018-12-18 03:57] navneet-g commented on #68
Has anyone successfully used react-virtualized or any other virtualization library with react-beautiful-dnd?

[2018-12-18 14:34] yr-primexm commented on #374
Possible workaround:  set in css  transform: none!important; on all items except the one the is being dragged

[2018-12-18 20:00] ChristopherChudzicki commented on #326
I'm running into this issue, too: I have draggables that contain custom sliders and custom math inputs, neither of which use standard input elements. My current solution is below:

[code]

I'm not sure if this is what @alexreadon meant by "patch[ing] the event handlers" but it works well enough for me.

@alexreadon I don't know how common this use-case is (undraggable elements inside draggables) b

[2018-12-18 20:12] markbrown4 commented on #1021
It seems to me that a fix for an edge case(wanting force touch within a draggable) made the majority case of simply dragging on ios much worse.

I feel like the force touch code cancellation should be removed, made opt-in or left in userland completely.  If someone is dragging on a drag handle the intention is to drag.

[2018-12-18 20:15] alexreardon commented on #1021
The intention is to play as nicely as possible with existing browser
interactions
On Wed, 19 Dec 2018 at 7:12 am, Mark Brown <notifications@github.com> wrote:

[2018-12-18 21:50] treshugart commented on #326
@alexreardon It might be worth considering as `draggable` is a standard [HTML attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/draggable). I wonder what the implications for doing this is, though.

@dovydaskukalis you could port what @ChristopherChudzicki has above to instead check the `draggable` attribute.

[2018-12-18 21:56] alexreardon commented on #326
I will look at this issue when I get back in mid jan 😊
On Wed, 19 Dec 2018 at 8:50 am, Trey Shugart <notifications@github.com>
wrote:

[2018-12-19 06:51] ssmlee04 commented on #460
@alexreardon I might be having other components that does drag & drop and has it's own logic and it wouldn't make sense to disable scrolling for other components at the same time.

[2018-12-19 12:50] kaptux commented on #364
@gavrichards [here ](https://codesandbox.io/s/m5r8322wwj) I leave a sample of a resizable-orderable column table using re-resizable. Can help for other use cases.

[2018-12-19 16:19] greenkeeper[bot] opened #1023 "An in-range update of testcafe is breaking the build 🚨"
## The devDependency [testcafe](https://github.com/DevExpress/testcafe) was updated from `0.23.2` to `0.23.3`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Ftestcafe-0.23.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

testcafe is a devDependency of t

[2018-12-19 21:00] alexreardon commented on #326
We cannot use draggable as it will opt into HTML 5 dnd

[2018-12-19 21:15] treshugart commented on #326
Yeah but this is about disabling dragging not opting into it.

(Opting in also requires adding an ondragstart listener).

[2018-12-19 21:23] alexreardon commented on #326
I am not sure if an attribute is the right way forward. 🤔

[2018-12-19 21:24] alexreardon commented on #326
I wanted to stay away from the HTML dnd attributes for clarity

[2018-12-19 21:34] alexreardon commented on #326
Thanks for being proactive on this one. I am hoping to leave this for stability until next year. I have been thinking about an event cancelling pattern also

[2018-12-19 21:36] alexreardon commented on #326
Perhaps a canStart fn

[2018-12-19 22:02] alexreardon commented on #1010
While away I have updated my watch mode to ignore 👌

[2018-12-19 23:14] greenkeeper[bot] opened #1024 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `0.68.0` to `0.68.1`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Frollup-0.68.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project.

[2018-12-20 08:12] qcz opened #1026 "Component gets stuck when reordering items too quickly"
## Bug or feature request?

Bug

### Expected behavior
No problems while reordering items.

### Actual behavior
If I reorder the items too quickly, the component gets stuck in Chrome, Firefox, Edge and Internet Explorer.

### Steps to reproduce
- Clone https://github.com/qcz/react-beautiful-dnd-stuck-bug
- Optional: Run `npm install gulp-cli yarn typescript -g`
- Run `yarn`
- Run `gulp dev`
- Open

[2018-12-20 14:34] nchathu2014 commented on #363
I am trying to drag an isolated button it did not work for me. Any thoughts?

[2018-12-20 15:04] mauriguz commented on #1003
@Steague Were you able to fix this?

[2018-12-20 15:39] Amelie52 commented on #567
`enforceFocus={false}` works, thanks a lot 👍

[2018-12-20 18:37] lilymatcha commented on #865
Wanted to add additional information: I ran into a similar issue when I run the example in Chrome. However, it works fine in Edge--this might be a browser support issue.

[2018-12-20 19:05] Steague commented on #1003
@mauriguz No. I updated my codesandbox link and mentioned that to @alexreardon but have not been able to solve the problem on my own.

[2018-12-20 19:10] mauriguz commented on #1003
@Steague It appears to be an issue with styling, specifically using translate on a parent. **Portal** seems the way to go, they have an example, but the source code isn't available anymore.
https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/patterns/using-a-portal.md

[2018-12-20 23:16] atav32 commented on #363
Wooow, this is waaay beyond my expectations! @alexreardon how can I buy you a beer? 🍺

[2018-12-21 07:50] ParthPatwalaTA opened #1027 "Keep Draggable on Droppable until some operations are performed"
## Bug or feature request?

Question

### Expected behavior
Keep Draggable component in droppable until operations are performed. Is it possible to do this ? Yes - how can i achieve this?

### Actual behavior
Normal Drag and Drop is working fine. Now if we were to add API request or some complex operation, when we drop draggable item, it goes back to original position then comes back on droppable

[2018-12-21 10:57] yairEO opened #1028 "Language is unacceptible"
Stop with this new-age PC crap, I am doing you a favor reporting bugs.

Be a man and accept good-old bad language as an honest and true way of communicating between humans.

What I type reflects what I feel, and bugs makes me feel horrible, like seeing a car accident across the road while driving. You feel such shit should happen.

If you're that PC-gone and wouldn't accept my manly-language, so b

[2018-12-21 15:00] matttk commented on #460
Would also like to be able to disable autoscroll. I'm searching through all the auto scroll bugs to find out what's going wrong for me but haven't come up with anything yet. Seems like a good temporary solution to just kill autoscrolling, especially since I don't need it.

I have a horizontal list, basically made from the basic horizontal list example. However, for some reason, as soon as I pick u

[2018-12-21 21:25] michaloslav opened #1029 "Destination null when dropping onto an icon"
(probably a bug or maybe just me being an idiot)

Hey, I'm trying to implement a pretty basic feature but I'm stuck for some reason. The idea is to let users drag an item onto a trash can to delete it. I already implemented dnd for moving items around and it works perfectly, all I did now was I added a second droppable and put the icon inside of it. For some reason though when I drop onto it, I ge

[2018-12-22 06:15] treshugart commented on #1028
@yairEO if you are unable to filter your frustration in a manner that complies with our code of conduct, then we'd prefer that you don't participate at all. You have been warned. If we see further harassment, we will not hesitate to take action.

[2018-12-22 06:15] #1028 closed

[2018-12-24 08:34] MuneebBaderoen commented on #1003
@Steague, @mauriguz The source still exists, it's just been renamed so that link is dead. I just ran into this same problem.

Wrapper source [here](https://github.com/atlassian/react-beautiful-dnd/blob/master/stories/11-portal.stories.js), PortalApp source [here](https://github.com/atlassian/react-beautiful-dnd/blob/master/stories/src/portal/portal-app.jsx)

Haven't figured out how to get this wor

[2018-12-24 09:01] ImJustAMan opened #1030 "my draggbles are dead someone pls help me!"
## When i drag draggables they will overlap, Positioning ownership seems like invalid?

(answer here)

[2018-12-24 09:52] picwellwisher12pk commented on #997
Still waiting. Anyone? please

[2018-12-24 21:17] MChelik opened #1032 "Droppable space gets empty"
## Bug
I added DragDropContext and Droppable to my website and got my components Draggable. When I drag my component, list suddenly gets empty and the dragging components location is far from mouse pointer.

### Expected behavior
I expect to my whole list be still and the dragging component be under mouse cursor.

### Actual behavior
List suddenly gets empty on dragging and dragging component is n

[2018-12-25 08:30] abzainuddin commented on #162
Tweaked @goncy solution a bit, so it works on elements instead of using offsets (tested on version 10.0.3):

`commands/dragAndDrop.js`

[code]

`commands.js`

[code]
Usage:
[code]

[2018-12-27 14:22] TrySound commented on #982
How about rewriting with reason? Type system is much nicer.

[2018-12-27 23:15] edwardsCam commented on #879
Update: just tested on macOS 10.14 (Mojave), and could not reproduce this issue. So it seems to only happen on High Sierra, due to the issues with live regions that you linked.

I'm satisfied that this can be closed as a 3rd party issue, but up to you.

[2018-12-28 09:05] greenkeeper[bot] opened #1033 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.11.1` to `7.12.0`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Feslint-plugin-react-7.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2018-12-29 15:17] SenyaMur opened #1035 "Suppurt createPortal"
## Bug

[code]
The error in throwIfRefIsInvalid.
[code]
because ref is htmlElement from another window.
Please fix this bug!

[2018-12-30 16:53] AbdelrahmanGIT commented on #1030
You need to describe the issue in details and it would be better if you provide a `re-producible ` code or steps to follow

[2018-12-31 23:04] lilymatcha opened #1036 "Touch doesn't work in Microsoft Edge"
### Expected behavior

You long-press to select in order to initiate the drag.

### Actual behavior

When you long-press, it simply selects and does not drag.

### Steps to reproduce

Open Microsoft Edge, go to any of the examples, and attempt to use touch to drag.

### What version of `React` are you using?

16.6.3

### What version of `react-beautiful-dnd` are you running?

10.0.3

### What brow

[2019-01-02 12:44] artooras commented on #655
Hi. I managed to have some progress on the issue. As I expected, all it indeed was to reverse the array of `Droppables`. Changing the return value of `toDroppableList` method [here](https://github.com/atlassian/react-beautiful-dnd/blob/master/src/state/dimension-structures.js) from

`values(droppables) // returns an array`

to

`values(droppables).reverse()`

makes the example above work as expect

[2019-01-02 18:36] lilymatcha commented on #982
@alexreardon This is an exciting development! Since Typescript is more widely used, it will also help make it easier for people to contribute to the project. Within 2019, what is your expected timeline for this migration?

[2019-01-02 19:33] Weffe commented on #1036
What device is that demo running on? Microsoft Surface Pro?

[2019-01-02 19:37] lilymatcha commented on #1036
@Weffe Microsoft Surface Laptop

[2019-01-02 21:42] treshugart commented on #1026
Hey @qcz, cheers for reporting. Alex is out on holiday at the moment but we'll have a look at this as soon as we can. Cheers.

[2019-01-02 21:43] lilymatcha opened #1038 "Droppable doesn't accept isCombineEnabled attribute"
## Bug or feature request?

Bug

### Expected behavior

isCombineEnabled, when added to a Droppable, should render without error.

### Actual behavior

When trying to set isCombineEnabled to true on a Droppable, the following error is returned: `Property 'isCombineEnabled' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Droppable> & Readonly<{ children?: ReactNode; }> & Read

[2019-01-02 21:52] treshugart commented on #1027
Is it possible to optimistically perform the async operation and revert the drag if it's not successful? I would think this would be okay for most scenarios.

[2019-01-02 21:59] treshugart commented on #997
Hey @picwellwisher12pk, sorry for the delay. Alex, the maintainer, has been on holiday.

In your example above, it seems as though there's a delay between dropping and the draggable being restored to its previous position. Do you have an async request happening that would fire a state change that causes the items to be reset?

[2019-01-02 22:17] treshugart commented on #1032
Hey, @MChelik, sorry for the delay. We've all been on holiday and Alex (the maintainer) still is (https://github.com/atlassian/react-beautiful-dnd/issues/1010).

It would be really helpful if you could work up a simple codesandbox to isolate your issue. That way we can help debug any potential issues from there.

[2019-01-02 22:21] treshugart commented on #879
Thanks for following up, @edwardsCam. Let us know if this ends up happening again.

[2019-01-02 22:21] #879 closed

[2019-01-03 00:09] lilymatcha commented on #1038
I thought my version of @types/react-beautiful-dnd was the latest version, but I just double-checked and was wrong. Updating to the latest version seemed to fix it!

[2019-01-03 00:09] #1038 closed

[2019-01-03 02:21] xyy7260 opened #1039 "How to get all the ordinal numbers and all the list data of the list?"
## Bug or feature request?

(感谢作者的组件)

[2019-01-03 06:47] picwellwisher12pk commented on #997
Finally 😄 Thanks for your time and reply.

Ok. So let me tell how it works. My extension keeps a record of tabs in current window everytime tabs event has happened. For example creation of new tab, URL change of some tab, move or removing of tabs etc. Every such event sends a new list of tabs to my extension.
But while I am dragging, most of the time there is no event firing, so I expect it to wor

[2019-01-03 13:37] matttk opened #1040 "Auto-scroll moves up constantly during horizontal dragging!"
## Bug or feature request?

Bug

### Expected behavior

Scrolling horizontally should never activate vertical autoscroll, unless you actually try to scroll vertically.

### Actual behavior

Scrolling horizontally instantly activates vertical autoscroll up (until the top of the page is reached) under certain circumstances.

### Steps to reproduce

I actually can't figure out how to reproduce it nor

[2019-01-03 14:32] uffou commented on #460
I also need to be able to disable auto scroll. I have a horizontal scrolling container and another one that I am dragging items from. At the moment when I start dragging and intersect the horizontal scrolling container, it starts to scroll which is not the desired behavior. A simple `autoScroll={false}` would do a great deal for everyone.

[2019-01-04 08:56] ParthPatwalaTA commented on #1027
@treshugart
This works if there is no 3rd party request call which takes time to perform validations. So on that time, we want to check if we really want to drop item here, if not then don't drop here. Otherwise, drop here and remove from the original location. So between that time draggable goes to its original location and after some seconds, we move it to the new location.
One thing we can do i

[2019-01-04 17:14] ahmad380360 commented on #1039
تكون طلب !!!!

[2019-01-04 23:30] jknapp25 opened #1041 "Combine feature not creating 2/3 of droppable area"
## Bug

### Expected behavior

When dragging a droppable over another droppable, 2/3 of the area of the droppable being dropped on is allotted for dropping. Allowing me to drop the droppable I'm dragging, onto it. (tongue twister)

### Actual behavior

When I drop a droppable onto another, the one below still behaves as though it has no area within it that can be dropped on.

### Steps to reproduc

[2019-01-06 16:39] knobo commented on #981
Could a hook/callback be implemented, that is run before the drag-image is created. So that I get time to resize my element before dragging is started. I want to collapse elements in my list before dragging. The callback should be optional, if you don't specify one, it's not used.

[2019-01-07 03:46] EdmundsEcho opened #1043 "Create function component guide"
I'm hoping to get some guidance on how to generate the required `innerRef` prop using a functional component with the hook `useRef`.  Thank you in advance.

[2019-01-07 15:57] Jannikdam commented on #930
**Expected behavior**
An element "A" should move up or down across the element that is being dragged,"B", when the (upper or lower) border of B crosses the center of A.
This would be opposite of how draggables moved, before version 10:

So, instead of letting the break point be: _Center of dragged item hits edge of resting item_ (meaning a large item could cover several smaller items before they r

[2019-01-07 22:00] abettadapur commented on #302
@alexreardon I have implemented a way to do this, I can submit a PR for your review if you would like.

The way we solved it is by having the child contexts determine that they are nested, and subscribe the onDrag* handlers to the parent context

[code]
The parent context will multicast the drag drop events to the nested children with this approach.

Right now, this wraps the library's DragDropCon

[2019-01-07 22:39] treshugart commented on #1030
I'm unable to parse what the problem is. Could you please provide a better description and a codesandbox of the issue? Thanks!

[2019-01-07 22:42] treshugart commented on #655
Hey, @artooras. Alex will be back mid-jan. See #1010 for more details.

[2019-01-07 22:46] treshugart commented on #982
Just as we didn't want to maintain TS types when the source was in Flow, I don't think it's worth maintaining Flow types when moving to TS.

@lilymatcha Alex will be back mid-Jan. See #1010 for more details.

[2019-01-07 22:47] treshugart commented on #1036
Alex will be back mid-Jan. See #1010 for more details.

[2019-01-07 22:49] TrySound commented on #982
@treshugart Flow types will be maintained. There are existing users.

[2019-01-08 11:44] CharlieBickerton commented on #133
+1

[2019-01-09 17:24] namibian15 opened #1046 "Error when compiling application"
## Bug or feature request?

Bug

### Expected behavior
Compile application successfully

### Actual behavior
Get the following error:
ERROR in ./node_modules/@babel/runtime-corejs2/core-js/date/now.js
Module not found: Error: Can't resolve 'core-js/library/fn/date/now' in '<obfuscated>\node_modules\@babel\runtime-corejs2\core-js\date'
 @ ./node_modules/@babel/runtime-corejs2/core-js/date/now.js 1:

[2019-01-09 20:48] dcporter44 commented on #214
@alexreardon Do you plan on implementing virtualization using react-virtualized or a custom implementation? Is there any kind of ETA on this? I'd love to use react-beautiful-dnd on project, but it's going to be impossible without virtualization.

[2019-01-09 22:32] nramamurth commented on #518
@pbrandone Were you able to have a custom placeholder? I am having a very similar use-case with two vertical lists stacked one above the other and I'd like to have a custom placeholder that is similar to what is being shown in the image below:

https://cdn-images-1.medium.com/max/1600/1*kUl5sYqeMgbCwaYJWCVS2w.gif

cc @alexreardon

[2019-01-09 23:50] victorct-pulsarup commented on #131
Any updates on when this will be done and released?

[2019-01-10 00:15] tcoughlin3 commented on #162
@goncy's version of @millarm's command is working great for me in the Cypress GUI but fails to move anything in the Cypress Electron browser. Any suggestions are greatly appreciated.

https://stackoverflow.com/questions/54120227/drag-and-drop-cypress-test-fails-in-electron-browser-only

[2019-01-10 03:58] treshugart commented on #997
https://codesandbox.io/ runs in a browser.

[2019-01-10 05:58] picwellwisher12pk commented on #997
You mean `browser.tabs`  API will work there?

[2019-01-10 09:00] pbrandone commented on #518
@nramamurth unfortunately no

[2019-01-10 19:45] buzzpsych commented on #460
Where in the codebase are you powering the auto scroll? Can this be made optional?

I currently have a fixed sidebar for example with some elements in it that are recordable. Whenever I try and move down or up it moves my body.

The best solution I found so far is adding addEventListener for scroll with
`function noscroll() {
  window.scrollTo(0, 0)
}`

BUT the problem is that if you are already s

[2019-01-11 04:38] EdmundsEcho opened #1049 "Augment the `result` object with user-defined props set for `droppables` and `draggables`"
Request - thinking out loud with all that this library has inspired...

**Goal**
Expand the channel that currently sends the `type` prop (for instance) of a `droppable` to the `result` object, with whatever additional props the user might set for `droppable`.  Ditto for `draggable`.

An approach to enriching the API would be to create `getProvider` that would take user props as arguments while ret

[2019-01-11 04:43] treshugart commented on #1040
Hey @matttk, just want to let you know we'll look into this as soon as we can. Alex, the maintainer, will be back soon. For more info, see #1010.

[2019-01-11 04:47] treshugart commented on #1027
That's sorta what I meant by optimistically performing the async op. I would generally lean towards this unless it's an operation that could have negative effects if reverted later.

In terms of digging deeper in this issue, I'd be going beyond my understanding of the internals. Alex, the maintainer, will be back from holiday soon. See #1010 for more details.

[2019-01-11 04:49] treshugart commented on #1039
The title doesn't make sense and there's no issue description. Closing as "probably spam".

[2019-01-11 04:49] #1039 closed

[2019-01-11 04:51] treshugart commented on #1041
Hey @jknapp25, just letting you know we'll get to this as soon as we can. Alex, the maintainer, will be back from holiday soon. See #1010 for more details.

[2019-01-11 20:58] acheronfail opened #1050 "CSP - style-src 'unsafe-inline' should not be required"
### Expected behavior

`react-beautiful-dnd` should not depend on the the Content-Security-Policy: style-src 'unsafe-inline' directive.

### Actual behavior

`react-beautiful-dnd` adds errors to the console as the CSS is refused by the CSP rules.

Error messages in console:

[code]

The errors originate from [here in `react-beautiful-dnd`](https://github.com/atlassian/react-beautiful-dnd/blob/b0b4

[2019-01-13 07:37] hckhanh commented on #133
+1

[2019-01-13 17:07] greenkeeper[bot] opened #1051 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## The devDependency [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) was updated from `3.3.0` to `3.4.0`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Feslint-config-prettier-3.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2019-01-13 22:07] stevegula commented on #451
Any chance at revisiting this? I'd like to be able to go multiple levels deep

[2019-01-14 02:42] danieldelcore opened #1053 "Potential Memory Leak"
## Bug or feature request?

Bug

## Bug
After leaving the [large data set example](https://react-beautiful-dnd.netlify.com/?selectedKind=single%20vertical%20list&selectedStory=large%20data%20set&full=0&addons=1&stories=1&panelRight=0) open in a tab for an extended period of time, I noticed the drag and drop experience slowed down and became quite jumpy. Eventually my chrome tab crashed.

I suspect

[2019-01-14 09:07] sunran357 commented on #131
Hi, when can this Issues be used? We have this problem.

[2019-01-14 09:58] zhangshuai0101 opened #1054 "I'd like to ask you a question. @markdon thanks"
I have consulted you before, but I don't understand what you mean.
demo： https://0qrxp521zp.codesandbox.io/
Well, when the element is dragged from the right to the left, The left element is occluded when it moves to the right element. This is caused by position: relation. What can we do now? Can you give me a code example to refer to the solution, I would like to flexbox layout will also occur thi

[2019-01-14 19:13] lilymatcha commented on #1046
I'm experiencing a similar issue; I can't tell if it's the same underlying cause.

### Steps to reproduce

- Run `yarn install`, have it give me an error about upath being incompatible with my version of node (10.14.2). Follow instructions I found [here](https://github.com/yarnpkg/yarn/issues/5727) and run `yarn install --ignore-engines`. Success.
- Successfully run `yarn storybook`.
- Run `yarn b

[2019-01-14 19:43] lilymatcha commented on #1046
@TrySound I noticed that when I get this error, it's on the size-snapshot plugin. Do you think it this could be caused by something like a versioning compatibility issue? I'm trying to figure out if this is a problem with react-beautiful-dnd, or with rollup-plugin-size-snapshot. What are your thoughts? I'm happy to provide any additional information you may need!

[2019-01-14 20:24] blurymind opened #1055 "Drag items between two DragDropContext modules possible?"
I couldn't find an example of this, so now I am wondering if it's even possible

Can we drag between two DragDropContext modules and if so how?

[2019-01-14 22:15] markdon commented on #1054
So continuing from [my last comment](https://github.com/atlassian/react-beautiful-dnd/issues/998#issuecomment-446377973) on this: I figured out how to open the editor for codesandbox and tried out what I was thinking.

The draggable items have a new class `.bwizard-step-item` and css has been changed to target that class instead of `li` (mostly). This avoids giving the element that was covering on

[2019-01-15 09:13] zhangshuai0101 commented on #1054
Thank you very much !

[2019-01-15 09:14] zhangshuai0101 commented on #1054
Thank you very much !

[2019-01-15 22:03] markdon commented on #1054
Regarding flexbox, it's definitely the best way to get the layout you're looking for and will be of great value to you after learning how to use it. The CSS Tricks guide should include everything you need to learn flexbox.

https://css-tricks.com/snippets/css/a-guide-to-flexbox/

[2019-01-15 22:54] pbylina opened #1056 "Uncaught Error: storeKey has been removed and does not do anything while importing DragDropContext (using react-redux 6.0.0)"
## Bug or feature request?

bug

### Expected behavior

Compile application successfully

### Actual behavior

Stack trace:

Generated here:

`https://github.com/reduxjs/react-redux/blob/63af52f1b776b2223027c1a73c0f2a725c377666/src/components/connectAdvanced.js#L86`

### Steps to reproduce

### What version of React are you using?

react: 16.5.2
redux: 4.0.1
react-redux: 6.0.0

### What version of

[2019-01-16 07:08] mkawczynski07 commented on #1032
@MChelik did you find a solution to this problem? I have exactly the same issue...

[2019-01-16 15:43] mkawczynski07 commented on #1032
My problem is that I use materialui components that create more than one container with overflow. So when I put my Droppable inside those components I have this problem. On the console, I have warning about nested scrolls.

We also decide to use native HTML drag and drop feature until #131 will be implemented.

[2019-01-16 17:23] michaelshiel commented on #1056
We have the same issue after adding react-beautiful-dnd to our existing project (also using react-dnd and redux/react-redux)

[2019-01-16 17:26] pbylina commented on #1056
@michaelshiel For now downgrading `react-redux` to lower version (5.1.1) is a solutions for me.

[2019-01-17 03:20] thewei commented on #302
@abettadapur can you show a demo?

[2019-01-17 10:14] zhangshuai0101 commented on #1054
I tried to use flexbox to lay out the layout before, but it didn't work as expected. I will continue to learn to improve the front-end skills. Thank you, markdon

[2019-01-17 20:20] pennersr commented on #911
@alexreardon You can indeed implement the swap in the `onDragEnd`, functionally, but the UX side of things is lacking. You will miss out on the visual feedback while dragging.  The item being dragged makes a nice animated soft landing on its designated spot. But, given that the swap is only implemented in the `onDragEnd`, the item that needs to move over to the original place of the item being dra

[2019-01-18 11:23] martingronlund commented on #68
Work harder! 🤠

[2019-01-18 12:31] SamStonehouse commented on #911
Seems like a more generic feature request should be created regarding animations on custom element movement if you think it's a good idea? I don't think my original request should be opened up as I don't think it reads well enough to be understood and is quite a narrow requirement.

[2019-01-18 20:10] kingcanova commented on #216
+1 for the copy/drag feature from me as well, I would love to see this added!

[2019-01-18 23:22] blurymind commented on #1055
nevermind, I just refactored my code and got what I wanted

[2019-01-18 23:22] #1055 closed

[2019-01-19 13:20] cooperfrench95 opened #1060 "Stuttering/Flickering issue"
## Bug or feature request?

Bug

### Expected behavior

Draggables slot in to their new positions smoothly after dropping, without any flickering or stuttering.

### Actual behavior

When a draggable is dropped, there is a split second where it seems like perhaps the state is still updating, and during that split second, if the item is an image, the old item in that position is displayed. If the i

[2019-01-19 13:35] cooperfrench95 commented on #1060
I have noticed that this issue is non existent on Chromium 71. I have not tried regular Google Chrome but I assume it is the same.

[2019-01-19 14:18] cooperfrench95 commented on #1060
Okay, so, edit number 2. Strangely, I have discovered that when I close my development tab, then re-open it and try to reproduce the issue, I am unable to. But if I subsequently refresh the page, the issue is there again.  To make that more clear:

Open firefox -> go to localhost:3000/ -> issue is not present -> refresh page -> issue is present

[2019-01-19 15:05] nerdo commented on #68
It’s open-source... contribute! :)

[2019-01-19 15:43] EdmundsEcho commented on #216
I greatly appreciate the design’s conviction to “physicality”.

However, I’m not sure this feature request diverges from what we are already doing.

Given we are able to create a new item... to instantiate something that becomes our physicality, how is this concept to instantiate a new item, different from doing so using a template aka, an already instantiated dnd component.  No?  \- E

[2019-01-19 16:02] cooperfrench95 commented on #1060
Looking futher into this I have realised that the reason this is happening is that after refreshing the firefox tab, each time the state is updated, a GET request for the image(s) that had there positions moved in the list is fired off, and whilst the GET request is waiting to be fulfilled, I think the images display their alts.

![get requests](https://user-images.githubusercontent.com/44951144/5

[2019-01-19 16:15] navneet-g commented on #68
I am open to contributing, I will go through the docs.

1. I am pretty new to the library, and there is lot of concepts, which one should I prioritize in scope of this issue?
2. Are there any specific design docs for contributors?

[2019-01-20 15:56] shakhbulatgaz commented on #141
So, iiur, currently there is no way to edit the style of placeholder, right?

[2019-01-21 00:30] #1010 closed

[2019-01-21 04:12] alexreardon commented on #1010
I will take a look at the issues linked to this one soon

[2019-01-21 08:01] svrcekmichal commented on #141
@otech47 sorry for late reply. I made no progress in this, when I talked with designers and PM/POs we decided to go with different approach, so I stopped working on this

[2019-01-21 15:42] arnaudvalle opened #1063 "Warnings when using StrictMode"
## Bug or feature request?

Bug

### Expected behavior
No warnings when using `react-beautiful-dnd` with `React.StrictMode`.

### Actual behavior
Warnings show up when using `react-beautiful-dnd` with `React.StrictMode`.

### Steps to reproduce
1. Use the vertical list example as a starting point (https://codesandbox.io/s/k260nyxq9v)
2. Wrap the `<App />` component in `<React.StrictMode>` (or go s

[2019-01-21 16:22] stellarbelle commented on #981
Having the ability to close lists before dragging would be great when changing the position of list when lists are stacked horizontally. This is my current predicament. Having a hook/callback that could be called too resize the element would help greatly.

[2019-01-22 12:03] jseminck commented on #131
Hello! I also ran into this warning when trying to make a board with horiztonal scroll and vertical scroll per column. However, all of the functionality seems to be working, despite the error?

https://73v6rvzml0.codesandbox.io/ - this is based on the example from the README. I didn't bother to fix the `onDrop` logic. But the general drag-and-drop works fine.

Am I missing something? Or can I just

[2019-01-22 14:25] nanopx commented on #131
@jseminck
Hi, it looks like your example is using the window as the parent scroll container.
Maybe [this example](https://react-beautiful-dnd.netlify.com/?selectedKind=board&selectedStory=scrollable%20columns&full=0&addons=1&stories=1&panelRight=0) does the same?

What we want here is to use another container (like a div) instead of the browser's window...

[2019-01-22 14:47] kwhitaker commented on #374
I implemented this solution and it works, though it's not ideal. I'd love to just see a prop or something that would let us turn this behavior off.

[2019-01-22 14:48] jseminck commented on #131
Hello @nanopx, thanks for your answer!

That is correct. Actually, we also do not want it to be on the window. We need a header that needs to remain in place when scrolling horizontally on the board.

I created another example with the scroll on another container. This seems to work fine, except the scroll does not happen if you want to move an item from the first column to the last column. 😞 But

[2019-01-22 15:18] nanopx commented on #131
@jseminck same here, I've also tried to scroll the parent container outside of react-beautiful-dnd, but the card's placeholder gets out of position during a horizontal drag... 😢

I don't think this is possible at this moment 🤔 (sorry if I'm wrong...

If you don't need a scroll in each list, maybe [this example](https://react-beautiful-dnd.netlify.com/?selectedKind=board&selectedStory=long%20lists%

[2019-01-22 15:30] jseminck commented on #131
We do need vertical scroll in the columns, but we do not care for vertical automatic scroll when a Draggable element is dragged towards the top or bottom of the list.

I will dig into the code and see if I can reverse the detection algorithm for scroll containers. Currently, I think it first checks inside the Droppable element and then it checks outside of the Droppable elements. If this can be re

[2019-01-22 22:33] #1023 closed

[2019-01-22 22:33] #1024 closed

[2019-01-22 22:33] #1033 closed

[2019-01-22 22:33] #1051 closed

[2019-01-22 22:34] alexreardon commented on #1063
Thanks! We are currently using an older version of react-redux that uses the deprecated methods. To upgrade will be a breaking change as our react peer dependency version will change #984

We will need to do this soon

[2019-01-22 22:34] #1063 closed

[2019-01-22 22:42] alexreardon commented on #131
We will start work on this soon. It is a sizeable piece of work. I am keen to see this take flight!

[2019-01-22 22:48] alexreardon commented on #216
I am more open to this one. A lot of people would find it extremely useful. We would not be looking at it until we finish our *Up next* milestone

[2019-01-22 22:50] alexreardon commented on #1060
Okay sure. So it sounds like an image loading issue. Is there anything you would like me to look into? It sounds like an image preload issue

[2019-01-22 22:50] #1060 closed

[2019-01-22 22:51] alexreardon commented on #68
It is fairly addhoc at the moment @navneet-g. Even if you have a crack and get 80% of the way through that is valuable so we can see how you went about it 👍

[2019-01-22 22:54] alexreardon commented on #1032
It sounds like this is linked to #131. So i'll close this as a duplicate and track it there

[2019-01-22 23:03] #1054 closed

[2019-01-22 23:04] alexreardon commented on #1056
1. We are looking to upgrade to react-redux v6 (or going away from it) #984
2. It is strange that you need to downgrade. Redux is an internal dependency which is locked to v5. v6 does not satisfy our version range so your bundler should not be trying to use a v6 redux with a v5 dependency. I think something strange is going on there

[2019-01-22 23:04] #1056 closed

[2019-01-22 23:06] alexreardon commented on #1053
I have added a help wanted label to this one as i think somebody could look into this without having much understanding of how the library hangs together

[2019-01-22 23:06] alexreardon commented on #1046
Any thoughts @TrySound ?

[2019-01-22 23:08] alexreardon commented on #1049
Yes it does! It is one of the options we are considering in #498

[2019-01-22 23:08] #1049 closed

[2019-01-22 23:08] alexreardon commented on #1030
Hi there!

Thanks for raising this issue. Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

Without a standalone example, we will not be able to action this one

Cheers!

[2019-01-22 23:08] alexreardon commented on #1030
We are closing this issue due to inactivity. If you would like to continue the conversation feel free to reply to this issue and we can reopen it if needed.

[2019-01-22 23:08] #1030 closed

[2019-01-22 23:09] alexreardon commented on #1050
Fascinating!

[2019-01-22 23:35] alexreardon commented on #1027
Here are some things you can do @ParthPatwalaTA:

1. Set `isDropDisabled` to `false` on everything. When the drag starts, do your third party calls and only enable the drop zones that you want
2. Do some post drag third party validation (like you are now). You might want to message that validation failed, and what the validation was and then roll back.

Having the validation service as a third par

[2019-01-22 23:35] alexreardon commented on #1040
Sounds bad @matttk

[2019-01-22 23:42] danieldelcore commented on #1053
No worries, i'll have a look sometime this week 😄

[2019-01-22 23:44] alexreardon commented on #1041
Hi @jknapp25! I am happy to look into this. But without a reproducible example I cannot see what is going on

[2019-01-22 23:44] alexreardon commented on #1041
Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

Without a standalone example, we will not be able to action this one

Cheers!

[2019-01-22 23:48] alexreardon commented on #1040
Okay, so this has to do with how auto scrolling works. If you drag something near the edge of a browser, we will scroll the browser if it can be scrolled. This is true even when the movement is on any plane (vertical or horizontal).

In your posted example, i am not sure why the auto scroll only goes up and not also down as you move the item lower. This is worth looking into

[2019-01-22 23:53] #1032 closed

[2019-01-22 23:55] alexreardon commented on #1013
Let's look at together when you are in our office next 😊

[2019-01-22 23:56] alexreardon commented on #1013
I suspect it is a rough edge of our algorithm for displacement.

[2019-01-23 00:02] alexreardon commented on #997
It looks like your issue is caused by update timing.

It is important that you update your list immediately after a reorder. After that you can update the tabs which might be a slow operation.

Here is what I would do:

1. when the app loads, put all of the tabs into React `state`
2. perform all rendering and reorder operations on the `state`.
3. after a reorder, asyncornously update the tabs orde

[2019-01-23 00:02] #997 closed

[2019-01-23 00:03] alexreardon commented on #982
@TrySound I am still thinking of the best way to maintain the flow types. Given they already exist I am open to having them in the repo. Once we start on the TypeScript conversion then we will have a better idea what the story could be

[2019-01-23 00:04] alexreardon commented on #1036
I tested this and it seemed to work for me.. Strange. Should continue to investigate!

I will try to get access to appropriate hardware

[2019-01-23 00:30] alexreardon commented on #1029
Hi there!

Thanks for raising this issue. Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

Without a standalone example, we will not be able to action this one

Cheers!

[2019-01-23 00:30] alexreardon commented on #1029
The fact that it is an icon should not really matter, but it is hard to know without being able to have a look

[2019-01-23 00:32] alexreardon commented on #1003
https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/patterns/using-a-portal.md

[2019-01-23 00:33] alexreardon commented on #1003
We are closing this issue due to inactivity. If you would like to continue the conversation feel free to reply to this issue and we can reopen it if needed.

[2019-01-23 00:33] #1003 closed

[2019-01-23 00:38] alexreardon commented on #1050
@acheronfail can you confirm if #1037 removes the warnings?

[2019-01-23 00:47] acheronfail commented on #1050
Yep! Can confirm that adding a nonce like #1037 does indeed remove the warnings.

Just to confirm though, is there anyway for these styles to contain user-generated content? 🤔

[2019-01-23 02:18] alexreardon commented on #1050
No. The library generates the styles

[2019-01-23 02:43] Robert-Fish opened #1066 "Drag and drop fires off onClick function"
I have attached on OnClick to the droppable component and my issue is that the drag and drop is causing my onClick to fire off. What can i do to prevent this?

[2019-01-23 02:48] alexreardon commented on #1066
This should provide the information you are after: https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/how-we-use-dom-events.md

[2019-01-23 02:48] #1066 closed

[2019-01-23 02:49] Robert-Fish commented on #1066
Cheers!

[2019-01-23 02:57] ParthPatwalaTA commented on #1027
@alexreardon I'm trying to build a time tracking App. In this App, let's say you have a week view and you will add time like 10:00-20:00, 11:00-18:00 on a single date-block. So I've added draggable time-blocks with this library to simply drag and drop the time on week's particular date.
So Here there will be 7 date-blocks on which we can drop multiple time-blocks.

At this moment, I want to make a

[2019-01-23 04:46] benflinn commented on #1056
yeah broken here too.

[2019-01-23 05:11] jseminck commented on #131
Thank you @alexreardon, I really appreciate the work on this library, the egghead.io course and so on!

In the meantime, I would like to try to reverse the order in which the scroll containers are detected to solve my issue: currently automatic scrolling is working vertically but not horizontally. I would prefer it the other way around. Example: https://73v6rvzml0.codesandbox.io/

Do you think it

[2019-01-23 07:52] TrySound commented on #982
Types will be quite small. So it won't take a lot of efforts to maintain them. Keeping them separately will make them out of date soon.

[2019-01-23 08:10] qcz commented on #1026
Hello @alexreardon!
Here it is: https://codesandbox.io/s/p5q5qy1llj

[2019-01-23 12:42] maieonbrix commented on #1009
+1

[2019-01-24 00:31] alexreardon commented on #1026
Your issue is being caused by using an `index` as a `key` for a react component.

Here is a fixed version https://codesandbox.io/s/m7n4v1r2jy

Further reading:

- https://reactjs.org/docs/lists-and-keys.html#keys
- https://medium.com/@robinpokorny/index-as-a-key-is-an-anti-pattern-e0349aece318

[2019-01-24 00:31] #1026 closed

[2019-01-24 00:52] chaitanyapilaka commented on #1009
Grid functionality would be extremely useful for my project and company as well. Would love to see some progress on it and I'm also willing to help.

[2019-01-24 03:00] alexreardon commented on #1040
I'll take a deeper look @matttk

[2019-01-24 03:41] alexreardon commented on #1040
This one is confusing. When I moved it onto my local everything worked as expected...

But there is an issue on the codesandbox one 🤔

[2019-01-24 03:46] alexreardon commented on #1040
Something strange going on. If I add this style it seems to work fine:

[code]

[2019-01-24 04:59] alexreardon commented on #1040
This one is really hard to get right given there are so many ways a document can be setup 😲

[2019-01-24 11:12] BraunreutherA commented on #981
I'm also looking for that feature. Our components have different sizes and in best case I'd like to show an abstracted smaller view of the dragged component. Could we implement a hook where we return a Component to display on drag?
I'd also help with a PR just scanned the code but would need some help to understand where the drag component gets initial captured.

[2019-01-24 15:23] matttk commented on #1040
I readly thought I tried something like this but maybe I only applied it to the body or html... at any rate, this gets rid of the problem, even if it isn't really the solution. Thanks! :+1:

[2019-01-24 16:02] kwhitaker commented on #374
On further testing, my above solution breaks down if the user drags an item from `List A`, but then drops it back on `List A`.  The item being dragged ends up being dropped on top of the nearest element in `List A`, and I can't seem to find a way to reset the transform after that 😢

[2019-01-24 18:56] stellarbelle commented on #981
Hi, I thanks for this I will see if it works for our situation. I read your
other comment and I think the drag component gets captured in the
`getWindow` function on line 7341 in react-beautiful-dnd.esm.js it seems to
grab the ref and access the size of the component for there. This happened
before dragStart gets called. I hope this helps!

Thanks!

On Thu, Jan 24, 2019 at 6:25 AM BAlex <notificat

[2019-01-24 18:57] stellarbelle commented on #981
I think the drag component gets captured in the
`getWindow` function on line 7341 in react-beautiful-dnd.esm.js it seems to
grab the ref and access the size of the component for there. This happened
before dragStart gets called. I hope this helps!

[2019-01-24 21:18] BraunreutherA commented on #981
@stellarbelle
I had some deeper insight in the library this afternoon. The fix I posted won't help sadly (that's why I deleted the post)

One thing that works but is against the benefits of the lib is when you register the mouse down listener and create a new component before the drag starts. Then you will lose the click listener ability to receive normal clicks aswell.

I'd pass down the publish

[2019-01-24 21:47] alexreardon commented on #1040
I am working on a fix @matttk that will avoid you needing to add those styles

[2019-01-24 22:56] lilymatcha commented on #1036
@alexreardon What hardware are you testing on? I think it shouldn't be a hardware (i.e. lack of drivers, etc.) issue, because the library works fine for me on Chrome, just not on Edge. Furthermore, adding the pointer sensor (#1045) fixed the issue for me, so I'm curious what's different that could be allowing it to work on your end.

[2019-01-25 00:40] alexreardon commented on #1040
I have added a new doc section encouraging people to use the html5 doctype

[2019-01-25 04:39] #1040 closed

[2019-01-25 07:14] mdestagnol commented on #982
@alexreardon good news for typescript. Do you guys also plan to move over Atlaskit?

[2019-01-26 00:39] dandelany commented on #854
Just wanted to ping this issue again, as I ran into it today ("react-beautiful-dnd": "10.0.3") and spent some time confusedly debugging before finding this ticket. Relatively easy to work around it using an arrow function, but it's hard to track down & def could cause confusion for users.

[2019-01-26 03:18] navneet-g opened #1069 "Perf impact of using Draggable"
## Bug or feature request?
While measuring performance for our app, that renders 100s of draggable cards, we noticed that Draggable adds about 1.2ms render time. I measured it in non-minified scripts as it is easier to see in the User timings section of Chrome dev tools, I assume it will be about 0.5ms - 0.8ms in minified scripts. It still feels little high.
Has any one else done performance profi

[2019-01-26 03:30] navneet-g commented on #68
Thanks @alexreardon , I noticed that you marked it as priority:high. I have yet to start ramping up on the code, and it will take me sometime (read few weekends) to be comfortable enough to propose any changes.

[2019-01-26 23:37] Robert-Fish opened #1072 "Dragging between two lists with each list in a different component file"
Is it possible to drag and drop between two lists with each list in a different component list. Both list data is pulled from a redux store.

[2019-01-27 01:31] savvysqrrl3 commented on #875
I am not using styled components, I am using Less files, so I am wondering how to render my component without all the style wrappers and whether an inner ref is needed to make this work.

[2019-01-27 18:54] atifsyedali commented on #1009
IMO, grid functionality would really complicate matters. I like the list-only focus of this library. Adding grid may mean lots of regressions in the list functionality.

Have you folks tried out https://strml.github.io/react-grid-layout/examples/0-showcase.html instead for grid?

[2019-01-28 12:42] kimmoahola opened #1073 "Animations inside table are not show on Edge"
## Bug

On the table examples at https://react-beautiful-dnd.netlify.com/?selectedKind=Tables&selectedStory=with%20dimension%20locking&full=0&addons=1&stories=1&panelRight=0 I don't see any animations on Microsoft Edge. Everything seems to work, just no animations and thus things feel broken.

The items are moved after the release of mouse button.

### Expected behavior

Animations should show.

#

[2019-01-28 15:11] badtant commented on #415
any progress on this?

[2019-01-28 17:37] Zhephyr54 commented on #1009
@atifsyedali I agree with you that it's not simple to implement but imho it doesn't go against the library main focus on lists as it is more of a presentational choice for displaying list elements.

https://strml.github.io/react-grid-layout/examples/0-showcase.html is missing some core features that my team are currently using in react-dnd-beautiful such as combining draggables. Moreover, animatio

[2019-01-28 18:07] nperichSYKES commented on #1009
@atifsyedali Thanks for the link! That could be helpful for many needs. But one reason it would be nice to have rows, columns, and grids in a single dnd library is for easy dragging between lists of different layouts.

For example, I currently use react-beautiful-dnd to drag from a vertical "unsorted" list to various horizontal lists of categories. It works great and was easy to implement thanks t

[2019-01-28 22:21] mnquintana opened #1074 "Add `isDropAnimating` to DroppableStateSnapshot"
## Bug or feature request?

Feature request

## Feature request

It would be super helpful to have access to the same `isDropAnimating` provided to the `Draggable` child function in the `Droppable` child function. My use case: I have a component that I want to respond to changes in `isDropAnimating` that isn't a `Draggable`, but is contained by a `Droppable` (let me know if this is too vague and I

[2019-01-28 22:44] alexreardon commented on #1069
It sort of makes sense. There is a bit of startup registration that happens. Is that 1.2ms per Draggable? I would also try running in production mode. There might be some dev tools work slowing things down. Also keep in mind that the dev tools themselves can add some minor overhead.

[2019-01-29 05:45] navneet-g commented on #1069
Thanks @alexreardon , I tried in production mode and in Chrome incognito where no extensions are installed. I still see about 0.3ms to 0.4ms, per Draggable. This still adds up when we have >200 cards to render. Is there a way to delay initialize Draggable without causing re-render of the Card?

[2019-01-29 22:12] JESii opened #1079 "Invariant failed: provided.innerRef has not been provided with a HTMLElement"
## Bug or feature request?

Bug

### Expected behavior
Expected to be able to simply display my existing list after applying the Draggable  - not even trying to drag-n-drop any items yet.

### Actual behavior
I've tried it with `ref={provided.innerRef}` and also with` innerRef={provided.innerRef}`

When opening a list of Draggable items, and using `innerRef={provided.innerRef}`, I get the error:
`

[2019-01-29 22:22] alexreardon commented on #1079
Have you had a read through our [using inner ref guide](https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/using-inner-ref.md)?

[2019-01-29 22:36] JESii commented on #1079
Perfect; I just wrapped `<ErrorItems...>` in a `<div>` and now it's displaying. Thanks for the quick response :=)

[2019-01-29 22:36] #1079 closed

[2019-01-30 03:42] tajo commented on #1073
It's a bug in Edge (and IE11), confirmed 3 years ago but never fixed: https://stackoverflow.com/questions/34718443/ie-edge-not-applying-transform-translate-to-table-row

[2019-01-30 05:16] chengmanxiang opened #1084 "Is there a Vue version?"
Can support Vue？ is not react

[2019-01-30 13:33] RinatRezyapov commented on #860
Thank you for this solution @YurkaninRyan

[2019-01-30 13:50] RinatRezyapov commented on #969
I ran into this too. Moved from react-dnd beacause react-beautiful-dnd is freaking awesome but one of my use cases is form builder with ability to add nested droppable collumns and rows. #860 YurkaninRyan's solution helps to remount the whole tree with dynamic key but I'm afraid it won't survive large tree.

[2019-01-30 16:25] jtraaraujo commented on #463
I also have this issue.  Portal only solves the swipeable views issue on desktop..
Anyone found a solution?
Guess it's related with:
https://github.com/atlassian/react-beautiful-dnd/issues/131

[2019-01-31 02:06] alexreardon commented on #77
Here is a prototype that is showing great potential: https://deploy-preview-1086--react-beautiful-dnd.netlify.com/iframe.html?selectedKind=board&selectedStory=simple&full=0&addons=0&stories=1&panelRight=0

[2019-01-31 02:36] alexreardon commented on #77
It is hard to get looking smooth across many use cases

[2019-01-31 11:45] marcoacierno commented on #302
Do we have any update for this?

Thanks :)

[2019-01-31 16:01] abettadapur commented on #302
@navneet-g, can you show some code here?

[2019-01-31 19:50] sambokai commented on #387
This seems like an arbitrary limitation. Shouldn't the user of the library make design decisions like this?

[2019-02-01 18:54] acampagna commented on #417
But there is a followup bug that needs to be fixed: https://bugs.webkit.org/show_bug.cgi?id=185656

[2019-02-01 19:43] InvisibleBacon opened #1088 "Auto scrolling a fixed positioned container doesn't work in IE11"
## Bug or feature request?

Bug

### Expected behavior

Dragging an item to the edge of a fixed container should scroll the fixed container in IE11.

### Actual behavior

In IE11, as soon as the browser starts to scroll the fixed area, a console error is raised and the drag is cancelled. The error is:

### Steps to reproduce

The behavior is visible on the story book: https://react-beautiful-dnd.n

[2019-02-02 08:30] Robert-Fish opened #1089 "Allowing whitespace between objects within a list"
Hi,

Is it possible to allow an object to be dragged between lists while still retaining it's position in the new list?

[2019-02-03 20:23] pdubuc opened #1090 "How to test / automate drag and drop of an element using Selenium in Java?"
I have tried various options, but have been unable to simulate a mouse click to drag an element from one position to another in a browser using Selenium.  When the test runs, I see the element get selected, but it does not move to the specified drop point. Any advice on how to test drag & drop using Selenium is immensely appreciated!

React: v16.4.2
react-beautiful-dnd: v10.0.0
Issue observed acro

[2019-02-03 22:02] alexreardon commented on #1088
This is the line being triggered:

[code]

[2019-02-03 22:03] alexreardon commented on #1088
I am not sure why this is being triggered only in ie11

[2019-02-03 22:03] alexreardon commented on #1088
It also looks like it is only triggered on the first drag. After that it is not hit..

[2019-02-04 17:01] InvisibleBacon commented on #1088
Wow quick work! Thank you @alexreardon

[2019-02-06 08:53] Silent777 opened #1093 "Drag big element"
I'm not able to move an item when it is too big.
I have an item that not fit in the viewport, and when I'm trying to move it down, the item that located below don't want to move up.

[2019-02-06 11:49] Jannikdam commented on #1093
The center of the top element needs to go below the top edge of the lower element, for them to switch places. If your top element is very tall you might not be able to drag it far enough down.

In that case you are dealing with this issue:
https://github.com/atlassian/react-beautiful-dnd/issues/930

[2019-02-06 12:54] lakesare commented on #941
@alexreardon, I have the same issue, it's very hard to debug with react-beautiful-dnd on the page.

[2019-02-06 14:45] Rennie1213 commented on #133
+1

[2019-02-06 14:55] dgdosen commented on #343
The docs aren't very discoverable. Sure there are titles... But they're not really organized for a new user...

[2019-02-06 15:30] EdmundsEcho opened #1095 "Feature idea: Use a higher-order function to set how "equality" between types is determined"
## feature request

Currently: Types must match between `source` and `destination`.  The basis for determining equality between types is `===` (likely).

Future: Types must match between `source` and `destination`.  However, the basis for determining equality is set by the user.  This would require replacing the current fixed `===` with a higher-order function (a function that takes a function as

[2019-02-06 22:08] alexreardon commented on #343
@dgdosen for now we have decided to focus on some critical features and park the website build.

Assuming we are only using github for now, how do you think we could better organise our existing content?

[2019-02-07 07:50] dgdosen commented on #343
I'll revise my comment after finding the API section in the readme... IMO - it's buried way down there.  Most components lead with API information! It's much more important than say, drop animations, etc..

[2019-02-07 09:21] alexreardon commented on #343
Perhaps we could look at:

- restructuring the content
- breaking the big `README.md` into seperate markdown files
- adding a small table of contents to the start of the `README.md`

Do you think these would be helpful @dgdosen ?

[2019-02-07 19:24] dzimmanck commented on #911
@pennersr @SamStonehouse,

Did this ever get turned into a generic feature request?  I too am looking for this functionality.

In my application, I have two lists of items to visualize a knapsack 0/1 problem.  The left side of the list represents items which are not in the knapsack.  The right side of the list represents items that are in the knapsack.  When a user clicks on an item in the left, m

[2019-02-07 22:18] navneet-g opened #1098 "How to allow drop only at bottom of the list"
## Bug or feature request?
Question, I could not find a duplicate issue.

I have multiple side by side lists on a board. When moving a card from List A to List B, I want to allow only dropping the card at the bottom of List B.

I could not find any props where I can specify it. One way I could think is somehow I can notify the library during onDragUpdate, similar how we can provide value for annou

[2019-02-08 06:22] alexreardon commented on #343
I am also keen to get your thoughts @Noviny

[2019-02-08 06:29] alexreardon commented on #1098
When you say the bottom of a list, do you mean underneith the target list?

If so you could just create a droppable under the list

[2019-02-08 06:37] alexreardon commented on #911
Potentially this could be satisfied by #162

[2019-02-08 19:24] navneet-g commented on #1098
I have a droppable, that is also a list of draggable. If I start dragging an item from the same list I want it to be dropped anywhere, but if I start dragging an item from a different list I want to allow dropping only at bottom. I do not want to rerender the target droppable as that will have perf impact.

[2019-02-08 22:05] mnquintana opened #1099 "Add ability to override default z-index for Draggables"
## Bug or feature request?

Feature request

## Feature request

It would be really helpful if it was possible to override the default z-index for Draggables when dragging (which looks like `5000`, from what I can tell).

My use case – we have a modal component that has a base z-index less than `Draggable`'s z-index, and a pseudo element that must be rendered with a z-index above `Draggable`'s z-i

[2019-02-10 09:17] Robert-Fish opened #1100 "Horizontal scrolling issue"
Hello i have a horizontal list that doesn't seem to scroll if there's overflow. It's parent container has a maxWidth property and a overscroll hidden.

`
  background: isDraggingOver ? "grey" : "lightgrey",
  border: "1px solid #C1C1C1",
  display: "flex",
  padding: "0.2rem",
  // overflowX: "scroll",
  // overflowY: "scroll",
  marginRight: ".7rem",
  marginTop: "1rem",
  marginLeft: "0",
  maxW

[2019-02-10 18:45] ronaiza-cardoso commented on #302
can you help me? I want to do this, https://codesandbox.io/s/34l0l98x75, but with the subfields also changing.

[code]
Drap `Sub-Field 1 - B` to `Field A`

![image](https://user-images.githubusercontent.com/7999914/52537901-d8927580-2d63-11e9-851f-a5e4f99ca0bf.png)

[2019-02-10 23:08] greenkeeper[bot] opened #1101 "An in-range update of prop-types is breaking the build 🚨"
## The dependency [prop-types](https://github.com/facebook/prop-types) was updated from `15.6.2` to `15.7.0`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Fprop-types-15.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prop-types is a direct dependen

[2019-02-11 07:41] GGantulga commented on #133
similar to this one
http://clauderic.github.io/react-sortable-hoc/#/basic-configuration/grid?_k=lptm8r

[2019-02-11 10:48] Noviny commented on #343
If we could get a nice clear information structure that breaks down the existing docs, it should be very easy to build a quick website on top of it. If you can break them up, and link them together assuming github, I can sort out the other bit.

[2019-02-11 21:04] MikaelCarpenter commented on #1090
So I just implemented this in our Ruby framework that sits on top of Selenium.

Here's what it looks like:
[code]

The main learnings from trying to get this to work was:
- You need a slight movement to trigger a drag event before you try to move to your actual destination
- After the `release`, our test runner was running assertions before the DOM had a chance to update leading to false negatives

[2019-02-11 21:33] MikaelCarpenter commented on #1099
Would overriding the styles in your `Draggable` suffice?

You can check out [`task.js`](https://codesandbox.io/s/rr318p74pq?module=%2Fsrc%2Ftask.js) in this codesandbox to see an example. It should successfully override your zIndex.

If that's not applicable, I can try to implement something for your use case.

[2019-02-11 21:57] alexreardon commented on #1099
All of the `style`s are provided to you.

[code]

[see our types guide](https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/types.md)

You can overwrite and manipulate the styles 👍

[2019-02-11 21:57] #1099 closed

[2019-02-12 11:53] amiral-jion commented on #68
I want to contribute to this issue, anyone can guide me what should be done (an idea)

[2019-02-12 19:37] navneet-g commented on #68
I have not gotten anytime to work on this, and most likely won't get any time next couple of weeks :(.

[2019-02-12 20:18] jmeyers91 opened #1103 "Ref doesn't work unless I manually pass `innerRef` through component"
## Bug or feature request?

Bug

### Expected behavior

Passing `provided.ref` to the wrapped component as `ref` should work.

### Actual behavior

Passing `provided.ref` to the wrapped component throws this error:

[code]

However, I can pass `provided.innerRef` as `innerRef` to my wrapped component and then in the component's `render` function, I can pass `props.innerRef` as `ref` to its root an

[2019-02-12 21:11] jmeyers91 commented on #1103
This issue seems to be addressed by the docs [here](https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/using-inner-ref.md#a-common-error-). I'm still confused because I'm using react-beautiful-dnd in another project that's setup almost identically to this project, and I'm not having any problems passing `ref` to styled-components. This works fine in my other project:

[code]

[2019-02-12 21:11] #1103 closed

[2019-02-12 21:53] Nathan-Fenner opened #1104 "Flush drop animation if there is a scroll event"
## Bug or feature request?

Bug

### Expected behavior

Dropped items animate to their final resting place, regardless of scroll.

### Actual behavior

Dropped items animate to fixed point on screen, then jump to final resting place.

This is noticeable when scrolling right after / during the drop.

### Steps to reproduce

[Example Storybook](https://react-beautiful-dnd.netlify.com/?selectedKind=s

[2019-02-12 22:21] alexreardon commented on #1104
Unfortunately I don't think we will be able to use position:relative here for layering and other issues.

We could improve the experience by flushing the drop animation if we detect a scroll. That way if there is a scroll during a drop animation the drop animation will fast forward to the end immediately. I think this is an okay compromise

Thoughts @Nathan-Fenner ?

[2019-02-12 23:00] jdsmith2816 opened #1107 "How to properly handle dragging into a nested droppable?"
## Bug or feature request?
Draggable1 and Droppable2 are contained by Droppable1.
Droppable1 and Droppable2 are both valid targets for Draggable1.

I'm currently experiencing a behavior where a drag from above Droppable2 causes Droppable2 to bounce upwards and become displaced from the location rbdnd allows the drop.

This [gif demonstrating the issue](https://giphy.com/gifs/8Fc89VxCFFzbnK6ENw) is

[2019-02-12 23:43] Nathan-Fenner commented on #1104
It would be nice if the animation still worked, but snapping to destination would probably be fine too.

Would it be possible to instead *update* the animation position on scroll?

Really, the problem is that the animation's start & end become "stale" on scrolling, since the place that they're moving from/to are no longer the same.

Could these parameters be recomputed on scroll instead, and the i

[2019-02-12 23:49] alexreardon commented on #1104
Anything is possible, but i am not sure the complexity is worth it. Also, if a scroll is occurring then we might need to worry about animation interuption and completion which could look janky given we are using css animations and not a js animation library for the drop animation

[2019-02-12 23:49] alexreardon commented on #1104
I think the fast forwarding of the drop animation is the best course

[2019-02-13 04:46] lakesare opened #1108 "Improve how we handle errors"
## Bug or feature request?

Vague, I'd consider it a bug.

### Expected behavior

React-beautiful-dnd doesn't touch errors that don't relate to it.

### Actual behavior

Instead of one error, I get 5 bulky errors that have nothing do with react-beautiful-dnd.
![image](https://user-images.githubusercontent.com/7578559/52687485-f20a0c00-2f73-11e9-8e10-3acbb3dc45e0.png)

### What version of `React` a

[2019-02-13 21:49] alexreardon opened #1109 "Share your creations! 👩‍🎨"
We would love to see what you have been building with `react-beautiful-dnd`

Simply respond to this issue!

Things that would be useful:

- a screenshot or gif
- a link to your product/tool if there is one

[2019-02-13 21:51] alexreardon commented on #1109
Previous list: #164. I closed that issue a while ago, and rather than resurrecting it I thought why not have a new list!

[2019-02-14 15:08] shruti8789 opened #1110 "Not able to drag elements after implementing beautiful DnD."
I have implemented react-beautiful-dnd as per: https://egghead.io/courses/beautiful-and-accessible-drag-and-drop-with-react-beautiful-dnd,
But I am not able to drag items from mouse.

Sample DOM:
![image](https://user-images.githubusercontent.com/39183310/52795240-62f61480-3097-11e9-9fb1-e2fc1977ac82.png)

This structure matches with what is at: https://codesandbox.io/s/k260nyxq9v
Only doubts i ha

[2019-02-14 22:01] ssaric commented on #339
Any updates on this? @alexreardon

[2019-02-15 03:42] alexreardon commented on #865
This is not being ignored. I am working with a number of organisations to find a good path forward.

The issue with JAWs and nvda is the "virtual cursor". If you disable that then everything is fine. Both of those screen readers are intercepting a spacebar press and sending a click event.

We are hopefully also getting in touch with some a developer from nvda to see what we can do on our end, or i

[2019-02-15 05:02] alexreardon commented on #1110
Hi there!

Thanks for raising this issue. Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

Without a standalone example, we will not be able to action this one

Cheers!

[2019-02-15 21:48] rafde commented on #1056
Not sure why this was closed. This error is still present in the latest version. Please upgrade to latest react-redux and dont use storeKey

[2019-02-16 11:19] Venryx commented on #1056
A way to solve this without downgrading the whole-project `react-redux` version is by using the `string-replace-webpack-plugin` package: https://github.com/jamesandersen/string-replace-webpack-plugin

My usage of it in my webpack-config:
[code]

[2019-02-16 16:18] yusufameri commented on #1109
Hi @alexreardon! I have made a mobile/online version of [cards against humanity](www.github.com/yusufameri/cards-against-humanity) called [cardiparty.co](www.cardiparty.co). react-beautiful-dnd has been a crucial library in order to make this web app feel native on users mobile browsers!

I just have concern. A lot of my beta users on iOS (iphone) have complained that the touch sensitivity is very

[2019-02-17 02:00] alexreardon commented on #1056
This is closed because it feels like a bundler issue. If a project declares that it needs 5.x of a dependency, then a 6.x dependency should not be provided to it

/cc @TrySound thoughts?

[2019-02-17 04:49] Venryx commented on #1056
@alexreardon Agreed, it is a bundler issue -- at least in my case. For other reasons, I earlier on set my webpack-config so that any node-module imports (including from libraries), will look for the module in the root `node_modules` folder first, and only if it isn't found there, to use the local/nested version.

It sounds odd to have done this, but it helped with a few issues (some at runtime, an

[2019-02-17 10:51] tjramage commented on #68
We are running react-beautiful-dnd on our production app and, for the most part, it's great! However, there are cases where our users have ~1000+ droppables, and you can really feel the performance / lag. @alexreardon, you mentioned above that you were hopeful to work on this in the coming months – are you able to confirm if this is still the case? 🙏

[2019-02-17 11:04] tjramage opened #1111 "Allow passing of dimensions for fixed width/height draggables? (Potential performance enhancement)"
## Feature request

I understand that a lot of work is done during dimension capturing immediately prior to a drag starting. Forgive me, as I am not fully informed here, but I assume that this stage is interested in getting the dimensions of droppables AND draggables?

If so, I was wondering if a potential performance enhancement would be to allow the passing of a `draggableWidth` and `draggableHe

[2019-02-17 15:14] soju-ti opened #1112 "Drag and drop into an iframe"
## Bug or feature request?

Please provide an example on how to use react beautiful dnd to drag from parent frame to an iframe Thanks in advance.

### Expected behavior

### Actual behavior

### Steps to reproduce

### What version of `React` are you using?

### What version of `react-beautiful-dnd` are you running?

### What browser are you using?

### Demo

[2019-02-18 02:02] rafde commented on #1056
The preference for this library is to have 2 versions of react-redux bundled? That seems off and unfortunate considering that the new react-redux 6 is conforming to newer react standards and not triggering errors in when [`<StrictMode>`](https://reactjs.org/docs/strict-mode.html) is used.
¯\_(ツ)_/¯
Thanks for the workaround solution, though.

[2019-02-18 02:15] alexreardon commented on #1056
We plan on upgrading react-redux once some performance issues are overcome https://github.com/reduxjs/react-redux/issues/1177

For now if you want to use react-redux v6 then your bundler will need to provide a v5 react-redux to react-beautiful-dnd. This should be the correct behaviour of a bundler as we declare a dependency on 5.x

[2019-02-18 02:16] alexreardon commented on #1056
It would be a bad idea to provide a dependency to a piece of software that falls outside of its supported sem ver range

[2019-02-18 02:26] pureZjr opened #1113 "Cannot remove the dragging item during a drag"
## Bug or feature request?

hello，i use react-beautiful-dnd and react-virtualized ，when i scroll ，it is error ‘ Cannot remove the dragging item during a drag’。 i think is the react-virtualized remove the dragging item。Do you have any solutions，thank you。

[2019-02-18 02:48] pureZjr commented on #68
I'm using both `react-virtualized` and `react-beautiful-dnd` in my projects，too. but when i scroll ,it error 'Cannot remove the dragging item during a drag'。you have any solutions，thank you。

[2019-02-18 06:08] Venryx commented on #1056
@alexreardon Yeah it sounds really bad, but in practice I've had almost no issues (this library is the second exception I think) with just forcing all the libraries to use the latest (other-module-specified) versions of other libraries. (it's a good sign as it means most libraries do not add breaking changes -- or when they do, other libraries at least produce new versions that are compatible with

[2019-02-18 07:38] TrySound commented on #1056
Do you have anything like yarn resolutions in your package.json?

[2019-02-18 10:44] rubinjohny commented on #1003
hey i have the same problem. is there any other way to solve this, without using portals?

[2019-02-18 15:13] mauriguz commented on #1003
@rubinjohny I did a workaround for my css, and removed all the translate properties... that was enough.

[2019-02-18 17:11] dimitarnestorov commented on #68
@pureZjr can you share an example?

[2019-02-19 03:56] pdubuc commented on #1090
@MikaelCarpenter Yes, thank you!  That worked for one part of an app I'm testing that renders tables where rows can be dragged & dropped.  Here's how the Java method ended up:
`private void dragAndDrop(WebElement dragPoint, WebElement dropPoint, WebDriver driver) {
			new Actions(driver)
			.clickAndHold(dragPoint)
			.moveByOffset(-10, 0)
			.moveToElement(dropPoint)
			.release()
			.perform();

[2019-02-19 10:35] #1027 closed

[2019-02-19 11:20] MrBojangles opened #1114 "Testing with JSDOM and enzyme"
Love the package. I am having an issue when testing (everything works when running in browser)

I am mounting my app with enzyme and attaching that to a jsdom instance. This is the error
[code]

[2019-02-19 14:48] MrBojangles commented on #1114
i think im getting this for the same reason as issue #1108

[2019-02-19 22:04] alexreardon commented on #1113
We plan on supporting virtual lists soon #68

[2019-02-19 22:04] #1113 closed

[2019-02-19 22:06] alexreardon commented on #1111
Possibly. We collect a lot of information including padding, margin etc.

From my investigations the collection is not bad. Doing it with too many things is expensive. I expect that for when you have a list > 500 things using a virtual list would resolve any performance issues like this

[2019-02-19 22:06] alexreardon commented on #1111
#68

[2019-02-19 22:07] #1111 closed

[2019-02-19 22:08] alexreardon commented on #1112
This would involve a lot of communication between the iframes. It is currently not supported. Perhaps when we have a programatic api #162 it would be possible to manage this communication manually 🤷‍♂️

[2019-02-19 22:13] tjramage commented on #1111
Hey @alexreardon, hope the presentation in Sydney went well! 😉

No worries. I guess I was just thinking of ways we could improve performance in order to get around the need for virtualisation (in the short-term). The thinking behind that being it might be quicker and easier to support parameterised widths/heights. I'm definitely onboard with virtual lists being the 'real' solution to this issue th

[2019-02-19 22:19] alexreardon commented on #1111
Thanks @tjramage. Please keep the suggestions coming!

[2019-02-19 22:20] alexreardon commented on #1114
This might be what you need: https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/using-inner-ref.md

[2019-02-19 22:20] alexreardon commented on #1114
All of our tests run in jsdom so you are welcome to take a look through those for pointers too :)

[2019-02-19 22:20] alexreardon commented on #1114
Let me know how you go

[2019-02-20 08:38] alexlouden commented on #77
Looks great! Very excited for this - keep up the amazing work! 😃

[2019-02-21 06:11] prakashsvmx commented on #518
+1

[2019-02-21 08:13] saiichihashimoto commented on #498
Is there any way we can move this forward? What would get us to some kind of action?

[2019-02-21 09:42] nicubarbaros commented on #68
@pureZjr That's how it is designed the library for now. You can remove everything else other than the current dragged item. Check the changelogs of the 10.0 v when it came out

[2019-02-21 16:27] sag1v commented on #316
@alexreardon Are you considering supporting this?
By the way, i think __Not supporting wrapped lists__ should be stated in the docs or readme, maybe in the _"Not for everyone"_ section.

[2019-02-21 19:25] niwsa commented on #1053
I guess all the event listeners are being cleaned up with unbindWindowEvents
  `const unbindWindowEvents = () => {
    const win: HTMLElement = getWindow();
    unbindEvents(win, windowBindings, { capture: true });
  }; `
Except for 'load' and 'error' event listener that were on each draggable image if I remember correctly.Suspect these two listeners inside each draggable adds up to the count of u

[2019-02-21 21:44] alexreardon commented on #316
We plan on working on it soon: https://github.com/atlassian/react-beautiful-dnd/milestone/2

[2019-02-21 21:45] alexreardon commented on #1053
How did you go @danieldelcore ?

[2019-02-21 22:10] sag1v commented on #316
Thanks @alexreardon, this is good to hear.
Though i'm a bit confused, which one of these is the relevant one for wrapped list support?
Maybe i can try helping

[2019-02-21 23:30] danieldelcore commented on #1053
Hey @niwsa @alexreardon,

Sorry i haven't had a chance to have a look that this yet 😭
But the above is probably a great place to start!

[2019-02-22 03:51] alexreardon commented on #1053
We don't load any load and error listeners 😕

[2019-02-22 03:51] alexreardon commented on #316
My apologies, I got confused. There is no plan on working on this for now. I mistakenly thought this was the virtual list issue @sag1v

[2019-02-22 10:24] sarod commented on #1109
A [codesandbox](https://codesandbox.io/s/4qp6vjp319) of a re-orderable Material-UI List using beautiful-dnd

[2019-02-22 12:07] YurkaninRyan opened #1116 "isCombineEnabled with no sorting"
## Feature request

`isCombineEnabled` assumes that items that can combine can also be dropped in the list.  Would i tbe possible to split that logic up?

My usecase if I have two lists, and I want to be able to combine items from one to the other, but not allow the user to drag and drop in between the items.

My current solution involves intercepting styles based on what's currently dragged, and

[2019-02-22 12:09] YurkaninRyan commented on #1116
https://www.useloom.com/share/ffcca97889fc44e8b85bf8cdebb96000

Here's a video demonstrating what i'd like to be able to do

You can see at one point I drop an item into another, and it actually misses.  I believe this is because of me overriding the styles and is totally self inflicted

[2019-02-22 12:13] YurkaninRyan commented on #1116
Perhaps creating a 3rd flag is heavy but:

isDropDisabled          - No Combine or Sort
  isCombineEnabled  - defaults to false, allows combine drag and drop
  isSortEnabled          - defaults to true, allows dropping among items

[2019-02-22 16:22] niwsa commented on #1053
![image](https://user-images.githubusercontent.com/3107922/53255498-bbf32780-36eb-11e9-944a-32ad66700440.png)
I 'm seeing the above two listeners for each avatar image

[2019-02-22 19:31] vpillinger commented on #930
Just want to add my two cents that the center drag position makes this library unusable with larger elements. Additionally, in my opinion the center drag point is not good on smaller elements either.

The fundamental problem is that a user isn't going to be mentally calculating the center of the object in their head. A user's mental focus is on the cursor position and the destination position, not

[2019-02-23 05:09] prakashsvmx commented on #558
+1

[2019-02-23 11:34] artooras commented on #930
I think both approaches have their pros and cons. If a prop could be introduced to use the grab point for the calculation as opposed to the centre point (default), I think this would be the solution that satisfies all use cases.

[2019-02-23 13:25] sag1v commented on #316
@alexreardon Aw that's bad news for me, thanks anyway.
BTW, i strongly think you should consider me comment above:

I think its a popular use case **and** a deal breaker for this library usage. knowing this is not supported could of saved some time for me (and for others i guess).

[2019-02-24 11:29] alexreardon commented on #558
I'm glad you got the bottom of it @SandMoshi !

[2019-02-24 12:07] millerrafi commented on #350
Here is a reduced example of this issue I just ran into: https://codesandbox.io/s/kxxl4p3r2r

The problem is the `perspective` property on line 15, which breaks `position: fixed` for the Droppable. Remove that property and the problem is fixed.

[2019-02-24 17:47] niwsa commented on #1053
From what I see the event handlers are added by react just checked a couple of react web apps and you can see that  :)

[2019-02-24 22:05] alexreardon commented on #1053
So is this a react issue? 😲

[2019-02-24 22:06] alexreardon commented on #316
I also think it is worth calling out if it is a common stumbling block.

I am not closed to supporting wrapped lists. However, it falls outside of what we are still trying to deliver success on: lists and lists of lists.

[2019-02-24 22:10] alexreardon commented on #1021
I am keen to get this right. I hope to explore it soon

[2019-02-24 22:11] alexreardon commented on #930
Something like that could be the path forward @artooras

[2019-02-24 22:12] alexreardon commented on #1116
I have been thinking about this too

[2019-02-24 22:22] alexreardon commented on #1109
Looks great @sarod! Is there a way to include the edit icon in the draggable so it moves with the item?

[2019-02-24 22:56] alexreardon commented on #498
I am busy working on some other core features right now. Once those land I am hoping to do some api redesign. Move to hooks etc. This would be a part of that

[2019-02-25 12:58] sag1v commented on #316
@alexreardon Thanks, so basically you want it to be something like an RFC?

[2019-02-25 15:05] bedhed commented on #133
+1

[2019-02-25 16:39] MrBojangles commented on #1114
Have had a look at how you use jsdom in the tests and couldnt find an example of you loading the dnd stuff into it. Could you point me towards that?

[2019-02-25 16:39] MrBojangles commented on #1114
i use it like this
[code]
which looks very different to the examples you have in there

[2019-02-25 19:59] Frankcarvajal opened #1118 "Dead Link at react-beautiful-dnd/docs/patterns/multi-drag.md"
## Bug

The `reference application (source)` link is dead. there is no source example to review final code in a sandbox etc to get a feel for it with deeper actual usage.

### Expected behavior
Select reference application source directs to codesandbox with source code of this example for multi drag that exists also as a story in Storybook.

### Actual behavior
![image](https://user-images.githubu

[2019-02-25 20:01] Frankcarvajal commented on #954
The issue has not been fixed, and should be reopened.
I created a new issue #1118

Cheers!

[2019-02-26 00:53] Robert-Fish opened #1120 "Drag and drop with copy"
is it possible to copy the dragged over item e.g dragging item from list one to list two and having dragged item to be duplicated in list one.

[2019-02-26 01:24] jon-simpkins commented on #1109
<img width="709" alt="screen shot 2019-02-25 at 7 19 54 pm" src="https://user-images.githubusercontent.com/3412673/53380365-bb989d80-3932-11e9-9d89-2ccbd3187670.png">
I've used `react-beautiful-dnd` as part of a proof-of-concept screenwriting web app, for working with index cards

[2019-02-26 08:35] sarod commented on #1109
The edit button is a child of the element passed to Draggable so I assumed this would be automatic. However it seems that material ui RootRef does not provide the ref to the ListItem root container that's what causes the issue. I'll try to look into it.

[2019-02-26 08:49] sarod commented on #1109
@alexreardon This seems to be an issue with material-ui RootRef that returns a ref MuiListItem-root-xxx element but we would need a ref to it's parent (MuiListItem-container-xxx) to make it work properly I guess.

[2019-02-26 08:58] AlithAnar commented on #1109
Hello @alexreardon !

We are currently developing [HeySpace](https://hey.space) app for team collaboration that mix slack and trello.

![image](https://user-images.githubusercontent.com/3205986/53399595-934d8500-39ac-11e9-9569-f80de135167b.png)

We are using react-beautiful-dnd in our boards, which sometimes contains lots of lists and tasks, therefore we need some kind of virtualization. The initi

[2019-02-26 09:15] MrBojangles commented on #1114
it does mention that an error occurred whilst a drag was happening which seems odd. I get the same unexpected drag occuring when i'm getting the problem in issue #1108

[2019-02-26 15:33] jaredreich opened #1123 "Doesn't play nice with react-dnd"
## Bug or feature request?

Bug

### Expected behavior

Does not clash with react-dnd

### Actual behavior

Clashes with react-dnd (if a react-dnd drag source is the same element (or nested element) as a react-beautiful-dnd draggable, the react-beautiful-dnd draggable behaviour wins and no react-dnd behaviour will occur).

### What version of `React` are you using?

16.7.0

### What version of `re

[2019-02-26 15:57] millarm commented on #948
I had this exact same issue.

Good news 1:  I've been able to reproduce it in a simple example.
Good news 2: It's not a react-beautiful-dnd bug, but it's a change in behaviour from earlier versions

The root cause was I was changing the style of the div in a draggable -> with 10.x you need to include t he existing style this is documented here https://github.com/atlassian/react-beautiful-dnd/blob/

[2019-02-26 16:02] millarm commented on #948
Actually, thought - could (in debug mode) react-beautiful-dnd check the style of the Droppable to ensure it's got a valid animation that will trigger the animation event, and if not raise a debug error that says "you must have an animation on the draggable style" that will help future developers not hit this particular brick wall?

[2019-02-27 00:26] markdon commented on #1120
When you update your state, you'd just make a copy of the data you're 'moving' instead of actually moving it. Pretty sure that would get the right end result but the animations wouldn't be perfect (the source item would get dragged away and pop back after dropping). Unless there's support for this I haven't seen before!

[2019-02-27 14:15] mikkokaar commented on #498
Nice lib, thank you very much :) Here's what I ended up with, will call handlers in props of Droppables involved, both destination and source

[code]

[2019-02-27 16:27] EdmundsEcho commented on #1120
Brilliant minds think alike.  I believe the issue #216 will provide you with the latest regarding this feature and a way to implement feature.  - E

[2019-02-27 23:03] alexolivas commented on #941
+1 on experiencing this issue

[2019-02-28 05:09] nicotroia commented on #510
If anyone is still looking you can try this

[code]

[2019-02-28 07:42] varHarrie commented on #1109
[Todoron](https://github.com/polar-bears/todoron), there are still many bugs.😆

![image](https://user-images.githubusercontent.com/14304201/53549474-364dfc80-3b6f-11e9-912d-96c2e4672012.png)

[2019-02-28 09:02] jpsear commented on #1109
@AlithAnar Wow, HeySpace looks awesome. Nice job guys!

We are using beautiful-dnd on a user story mapping tool we created — [Avion](https://www.avion.io):

![Avion User Story Map](https://www.avion.io/external/avion-map.png)

Virtualisation is huge for use. We can have many droppable zones on a large map and this make dragging sluggish :(

[2019-03-01 01:36] cocacrave commented on #133
+1 just in case

[2019-03-01 02:57] cocacrave commented on #460
So far I tried `onDragStart` and `onDragEnd` calls the function to toggle classname on body to apply `overflow: hidden` if the `item.source.droppableId` starts with a string `sidebar` and it's toggling the class fine but why is body still scrolling? My sidebar is a sticky component, and when I try to drag an item towards the top or bottom, the whole body scrolls.

Any workaround?

[2019-03-01 03:35] alexreardon commented on #1109
Virtualisation is coming soon! #68

We have done a lot of prework for it

[2019-03-01 06:29] NickEmpetvee commented on #875
@savvysqrrl3 Did you come to a resolution on that? I'd like to use this without styled components too.

[2019-03-02 00:19] AdamClark2001 commented on #463
Using portals seems to not work with touch input at all.  This can be seen on the official portal example.  You can activate the draggable object but it does not respond to movement after that.

[2019-03-02 09:17] alexreardon commented on #463
https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/patterns/using-a-portal.md#using-a-portal

😞

[2019-03-02 10:21] alexreardon commented on #871
My current thinking:

- Move to hooks for everything internally
- Expose `useDraggable` and `useDroppable`
- Expose a `Draggable` and `Droppable` component with the same function as child api as we currently have. This would allow people to continue to use render props if they want to

[code]

[2019-03-02 16:29] JamieWilliamsHackIT commented on #133
+1

[2019-03-03 17:48] debo07 commented on #293
If this helps anyone - https://codesandbox.io/s/5v2yvpjn7n

[2019-03-03 22:02] #1118 closed

[2019-03-04 03:22] NickEmpetvee opened #1135 "Has anyone using react-beautiful-dnd tried to upgrade to React 16.8?"
I'm just interested in learning if there were any hiccups along the way.

[2019-03-04 03:52] alexreardon commented on #1135
Nah all good. We are using it in our dev branch for our storybook

[2019-03-04 03:52] #1135 closed

[2019-03-04 03:59] NickEmpetvee commented on #1135
Thanks!

[2019-03-04 10:55] snackycracky commented on #316
a list as you see it, nested or not, can be visually wrapped. Its as simple as this.

[2019-03-04 14:17] Flax95 commented on #131
Awesome work @alexreardon! Loving the library.
Are there any updates on this? Did work on this awesome improvement to a masterpiece take flight?

[2019-03-04 14:27] YurkaninRyan commented on #871
I'd love to get working on some of these hooks, what hooks would make the most sense to start with?

[2019-03-04 14:41] mikkokaar commented on #498
Made the workaround from my previous comment into a gist, and
- added ``payload`` to ``Draggable`` and ``Droppable``
- made it call handlers in ``Draggable`` in addition to those in ``Droppable`` and ``DragDropContext``

https://gist.github.com/mikkokaar/5caff07a33f4711aa3dd72a40b4e7a73

[2019-03-04 19:38] artooras commented on #930
@alexreardon, any idea of an ETA for this update? Is it in the plans?

[2019-03-04 19:40] artooras commented on #655
@treshugart any updates on this? #1010 also fails to shed more light...

[2019-03-04 23:29] eddyhdzg opened #1136 "Problem with @atlaskit/tree"
I'm trying to replicate the functionality of dragging a **PARENT LIST** from this demo [demo_with_nesting](https://atlaskit.atlassian.com/packages/core/tree/example/drag_and_drop_with_nesting)

![dnd-nesting](https://user-images.githubusercontent.com/20821459/53769726-67e20300-3ea2-11e9-8cb6-cb737577132c.gif)

In the pure tree demo without all the CSS from
[demo_pure_tree](https://atlaskit.atlassi

[2019-03-05 00:01] markdon commented on #1136
Not sure if it's actually current, but the [docs here](https://atlaskit.atlassian.com/packages/core/tree) say:

[2019-03-05 00:07] markdon commented on #1136
Having said that... There is some code in Tree that looks like it should handle this [59](https://bitbucket.org/atlassian/atlaskit-mk-2/src/a11f95c73d47551bafcc673dd6dd32ec712cb308/packages/core/tree/src/components/Tree/Tree.js?at=master#lines-59) [68](https://bitbucket.org/atlassian/atlaskit-mk-2/src/a11f95c73d47551bafcc673dd6dd32ec712cb308/packages/core/tree/src/components/Tree/Tree.js?at=master

[2019-03-05 05:24] alexreardon commented on #1136
@balnagy ^

[2019-03-05 07:29] NielsDom commented on #293
https://codesandbox.io/s/vmm0nplz5y is not working for horizontal

[2019-03-05 08:29] cpandit201 commented on #1090
@MikaelCarpenter  thanks for the solution, I was planning to raise a ticket for the same, Thank god I found you 👍
@OP  - Even I had the same issue - Selenium was not able to drag drop objects,

Moving element slightly and then performing a drag operation worked.

[code]

Below is a code which I performed on their template

[code]

[2019-03-05 23:48] milkman4 opened #1138 "Controlled input loses focus onChange"
## Bug or feature request?

Bug

### Expected behavior

When using a controlled text field inside a draggable component, editing the field works as expected, with the edits to maintain in state with the onChange handler.

### Actual behavior

When using a controlled text field inside a draggable component, editing the field works causes focus to be lost - specifically when the state is being contr

[2019-03-06 07:11] webmastervishal commented on #898
Hey, Any updates on this new idea, even I need this functionality in my code. If the user switches on the toggle button then drag should be enabled and if the user switches it off then drag should be disabled.

[2019-03-06 09:40] wuyonglv opened #1140 "Draggable item includes Modal, do drag action on the modal and the draggable item move"
## Bug or feature request?

(answer here)
Bug

### Expected behavior
Can select the text in the Modal and the draggable  ancestor no need movement

### Actual behavior
the draggable  ancestor follow the mouse when do drag action in the Modal

### Steps to reproduce
just do the drag action in the modal

### What version of `React` are you using?
16.4.1

### What version of `react-beautiful-dnd` are

[2019-03-06 09:40] RinatRezyapov opened #1141 "Change height of droppable area if draggable is too small"
When I drag divider element which has small height I would like to increase height of area where I want to drop that element. Right now the drop area too narrow and people with touch pads experience problems.
I believe this problem is related to #981 in terms of onBeforeDragStart handler, but maybe, for my particular case, there is a simple solution?

![dnd](https://user-images.githubusercontent.c

[2019-03-06 20:01] flopes89 opened #1142 "Dynamically created droppables don't work"
## Bug or feature request?

Bug (?)

### Expected behavior

I should be able to drop draggables into elements that were dynamically created by state changes from an `onBeforeDragStart` responder.

### Actual behavior

Draggables cannot be dropped into Droppables whose contents changed in response to a state change triggered by an `onBeforeDragStart` responder.

### Steps to reproduce

See demo

##

[2019-03-06 22:47] jshaver-emsi opened #1143 "no drag handle"
The documentation at https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/identifiers.md states:

The 'Including after reorder.' is a little confusing to me.  I'm not sure if it means "You can change the id at any tie including after reorder" or "except during a drag or after reorder". The first one makes more sense, but I can update the doc to whichever

[2019-03-06 22:47] #1143 closed

[2019-03-06 22:47] jshaver-emsi commented on #1143
Sorry I didn't mean to submit this.  I was going to but then I figured it out.  Then I hit enter with the wrong tab selected :man_facepalming:

[2019-03-07 12:15] salvoravida commented on #1056
6.0.1 to 6.2.1 - refactor - fix Performance
https://github.com/reduxjs/react-redux/pull/1201

test it now wih:
[code]

[2019-03-07 12:36] ravi123shanker opened #1144 "Can't resolve 'react-dnd/lib/DragDropContext'"
/node_modules/frontend-collective-react-dnd-scrollzone/lib/index.js
Module not found: Can't resolve 'react-dnd/lib/DragDropContext' in '/GitRepo/node_modules/frontend-collective-react-dnd-scrollzone/lib'

Please help. My app is crashing.

[2019-03-07 13:01] TrySound commented on #1144
@ravi123shanker This is a different library. Ask in https://github.com/react-dnd/react-dnd

[2019-03-07 14:18] Jbotman commented on #518
Has anyone succeeded in this? I want to have the same like example

[2019-03-07 15:52] kykungz opened #1145 "Force dragging mode?"
Are there any way to force SNAP (keyboard) dragging mode?

I want the user to click on a "move" button and be able to move the item using keyboard arrow.

[2019-03-07 20:00] Frankcarvajal commented on #1118
@alexreardon Hey Alex! Thanks for reviewing my first issue. 👍
I did want to ask, why was this closed? I noticed that the link is still dead (404).

[2019-03-08 01:56] DavidJNoh opened #1146 "Draggable goes all the way to the bottom due to huge placeholder?"
First of all, thank you for the response.

## Bug or feature request?

Bug

### Expected behavior

Draggable should be visible on the screen and there shouldn't be huge plaecholder.

### Actual behavior

Huge placeholder while dragging which pushes the Draggable to the bottom.

### Steps to reproduce

I'm sorry this is literally my first github discussion.

### What version of `React` are you usin

[2019-03-08 06:35] ravi123shanker commented on #1144
@TrySound Thanks.

[2019-03-08 06:35] #1144 closed

[2019-03-08 11:36] uublive commented on #1109
hello everyone. First of all, beautiful-dnd is a very good piece of sofware :)
We are using it as one of the main elements of our enterprise task management solution called **Boards**

![image](https://user-images.githubusercontent.com/1846141/54026547-81cf5e80-419e-11e9-8f36-849e79d66e65.png)

**Boards** is the enterprise version or our lighter consumer version [Needful](http://www.getneedful.com

[2019-03-08 12:40] mehmetcan92 commented on #708
I had the same issue, but a little more complex this case. I'm creating dynamic  droppable component. After that saved in state.. I'm have delete state button. when it click,it delete state for dynmaic  droppable. I'm getting error below.Btw All droppable and draggable ids is unique.red squares all in one droppable component and they have uniq Id
"variant failed: Cannot unregister Droppable with i

[2019-03-08 22:35] DavidJNoh commented on #1146
Issue was with Material UI not working very well with the library.

Will close !

[2019-03-08 22:35] #1146 closed

[2019-03-09 17:31] eddyhdzg commented on #1136
I still can't make it work like in this [demo](https://atlaskit.atlassian.com/packages/core/tree/example/drag_and_drop_with_nesting)

![gif](https://user-images.githubusercontent.com/20821459/54074933-73487c00-425e-11e9-9541-9f9a5f57b0ca.gif)

Can you please help me with some working code 👀?

[2019-03-09 18:59] balnagy commented on #1136
Hi @eddyhdzg,

As @markdon pointed out in the documentation, this was a limitation earlier, but the docs needs to be updated as this feature already implemented.

To make pure list work, you need to create a scrollable container. Here is one working example: https://codesandbox.io/s/v6m657wk70?fontsize=14

[2019-03-09 23:32] alexreardon commented on #1021
Perhaps a shouldRespectForceTouch prop?

[2019-03-10 00:25] #1136 closed

[2019-03-10 05:51] cocacrave commented on #498
Thanks for providing the workaround. I ended up doing this.
[code]

Then in drop components
[code]

[2019-03-10 16:08] eddyhdzg opened #1150 "Set max level of nesting to 1"
I want to make a tree with only one level of nesting

My idea is to make children not nestable, any ideas on how to do this?

This is the code I have now [https://codesandbox.io/s/v6m657wk70 ](https://codesandbox.io/s/v6m657wk70 )

[2019-03-10 19:14] Venryx commented on #499
For me the issue was a "filter" css-property in one of the ancestors (to add shadows).

Thankfully, the portal API is really straight-forward, so I got it resolved in ~2 minutes once I looked at the code here: https://github.com/atlassian/react-beautiful-dnd/blob/master/stories/src/portal/portal-app.jsx

It's basically just:
[code]

[2019-03-11 01:06] ldwstyle opened #1151 "Where is the example source code?"
## Bug or feature request?
Where is the example source code?Where can I find it?Can you give me a link?thank you!
(answer here)

### Expected behavior

### Actual behavior

### Steps to reproduce

### What version of `React` are you using?

### What version of `react-beautiful-dnd` are you running?

### What browser are you using?

### Demo

[2019-03-11 03:01] iMerica opened #1152 "Please remove noisy console message in development."
Hi,

Thanks for building this, I'm really liking it so far except for one thing:

<img width="948" alt="Screen Shot 2019-03-10 at 9 53 32 PM" src="https://user-images.githubusercontent.com/487897/54097622-07aa0000-437f-11e9-9c08-2df7b3b731fb.png">

It's not appropriate to pollute everyones console with noisy messages like this. According to my count (`find . -name 'package.json'  | wc -l`), I have

[2019-03-11 04:11] alexreardon commented on #1152
Here you go: https://github.com/atlassian/react-beautiful-dnd#disable-warnings

[2019-03-11 04:11] #1152 closed

[2019-03-11 04:12] alexreardon commented on #1152
Also, it is not a marketing banner. Nested scroll containers is not supported and can lead to bugs 👍

[2019-03-11 04:13] alexreardon commented on #1152
I linked to the issue in the message to show that we plan on overcoming the limitation

[2019-03-11 04:13] alexreardon commented on #1152
Perhaps we could add a link to the disable warnings guide in the messages? Thoughts @iMerica ?

[2019-03-11 04:45] Robert-Fish opened #1153 "disable items snapping together"
Is disabling snapping to each other for items possible?

[2019-03-11 06:10] iMerica commented on #1152
Maybe the warnings could look a little less banner-y and more warning-y

For example, in React:

![console2](https://user-images.githubusercontent.com/487897/54103115-25845e80-4399-11e9-8edc-efaf61f35d0e.png)

### Proposed changes
- Remove the "react-beautiful-dnd" green text so this warning looks less like an advertisement and more like a warning.
- Replace "This is a development only message." w

[2019-03-11 13:04] markusv commented on #898
Hi,

I also need this. This https://github.com/atlassian/react-beautiful-dnd/issues/9 does not seem to work when triggered in onDragEnd. However I need to be able to decide if the move should be allowed based on what droppable the draggable is dropped on

[2019-03-11 15:26] lokeshkanagala opened #1155 "For vertical lists layout, is it possible to merge multiple vertical lists dynamically into less number of lists depending on screen-width and using breakpoints, so the lists don't overflow the page ?"
## Bug or feature request?
Feature Request
 For vertical lists layout, is it possible to merge multiple vertical lists dynamically into less number of lists depending on screen-width and using breakpoints, so the lists don't overflow the page ? **For example, scenarios like, show 3 columns on `lg`,  merge them to 2 columns in `md` ?**

### Expected behavior

### Actual behavior

### Steps to repro

[2019-03-11 15:34] Lukavyi commented on #374
Made a fix using `isDropDisabled` for 2 elements in 1 list.

[2019-03-11 22:15] alexreardon commented on #1138
Here you go: https://codesandbox.io/s/kon8qyy6qo

Your issue is that you are using the `value` of the input as part of the key for the draggable. This is causing the component to mount and remount which is the root of your issue.

[2019-03-11 22:15] #1138 closed

[2019-03-11 22:31] cocacrave opened #1157 "Draggable snapshot dropAnimation.moveTo the place it was dropped"
Is it possible to drop the draggable without animating?
I'm removing an item from list if dropped onto a specific droppable but it tries to animate it to the center of that droppable.
I checked the `snapshot` of the draggable's `dropAnimation` and its `moveTo` property is set to some `x` and `y`. Would it be possible to set it to the last `translate(x,y)` value on certain conditions?

A workaround

[2019-03-11 23:04] alexreardon commented on #1157
Here you go :)

https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/drop-animation.md

[2019-03-11 23:04] #1157 closed

[2019-03-11 23:40] Robert-Fish opened #1159 "Dragging between two lists with each list in a different component file"
Is it possible to drag and drop between two list with each list  in a different file?

[2019-03-11 23:54] alexreardon opened #1160 "RFD: shouldRespectForceTouch default value"
## Background

`react-beautiful-dnd` ties to respect standard browser interactions as much as possible. Currently, the library plays well with force touch interactions:

Unfortunately, heavy presses can cancel a drag. It can be tricky at times to get the right amount of pressure to correctly use touch dragging. This can be frustrating for users.

**We have added an option for you to opt-out of res

[2019-03-12 05:01] alexreardon commented on #77
This was released in [10.1](https://github.com/atlassian/react-beautiful-dnd/releases/tag/v10.1.0)

[2019-03-12 05:01] #77 closed

[2019-03-12 05:01] alexreardon commented on #77
#1096

[2019-03-12 05:09] alexreardon commented on #1021
Fixed by #1148. Available in [10.1](https://github.com/atlassian/react-beautiful-dnd/releases/tag/v10.1.0)

[2019-03-12 05:09] #1021 closed

[2019-03-12 05:16] alexreardon commented on #1159
I'm not sure what you mean

[2019-03-12 05:21] alexreardon commented on #1145
Not right now. This would be possible with a programmatic API #162

[2019-03-12 05:21] #1145 closed

[2019-03-12 05:24] alexreardon commented on #1150
For `@atlaskit/tree` questions you will need to head over here: https://ecosystem.atlassian.net/servicedesk/customer/portal/24

[2019-03-12 05:24] #1150 closed

[2019-03-12 05:29] alexreardon commented on #1153
Can you please provide a bit more information? I am not sure what snapping to each other means :D

[2019-03-12 05:30] alexreardon commented on #1155
I am not following sorry. Can you please provide some more context?

[2019-03-12 05:30] alexreardon commented on #1151
https://github.com/atlassian/react-beautiful-dnd/tree/master/stories

[2019-03-12 05:30] #1151 closed

[2019-03-12 05:32] Robert-Fish commented on #1153
Currently in a horizontal list, all the items allow no whitespace to exist between them. How can i make it so that they can be dropped freely anywhere in the list?

[2019-03-12 05:33] Robert-Fish commented on #1159
If i have two lists and i want to allow drag and drop between the lists but they exist in different components, what can i do to allow the drag and drop between the lists. I know the example file shows them in the same component.

[2019-03-12 05:33] alexreardon commented on #1142
We are only supporting the dynamic addition of draggables for now https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/changes-while-dragging.md#rules

`onBeforeDragStart`: https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/responders.md#secondary-onbeforedragstart

✅ Can apply modifications to existing components to lock their sizes
❌ Cannot remove or add

[2019-03-12 05:33] #1142 closed

[2019-03-12 05:34] alexreardon commented on #1090
For those looking in the future, here is how we do it using `cypress.io`:

https://github.com/atlassian/react-beautiful-dnd/blob/master/cypress/integration/reorder.spec.js

[2019-03-12 05:34] #1090 closed

[2019-03-12 05:35] alexreardon commented on #1090
Please reopen if you think there is more to answer on this one

[2019-03-12 05:36] alexreardon commented on #1141
Right now this is not supported. This seems to be similar to #930 so we can track it there

[2019-03-12 05:36] #1141 closed

[2019-03-12 05:38] alexreardon commented on #708
Hi @mehmetcan92 can you please create a seperate issue?

[2019-03-12 05:39] alexreardon commented on #708
@mohdasim8018 I would avoid using the index if you can. You might be able to use it for your droppables as long as they are not being reordered

[2019-03-12 05:54] alexreardon commented on #1120
I'll close this one as it seems like it has been resolved

[2019-03-12 05:54] #1120 closed

[2019-03-12 05:59] alexreardon commented on #1114
How is it going with this one? I am not totally sure what the issue is as I cannot see the code

[2019-03-12 06:02] alexreardon commented on #1123
You could take a look at [how we use DOM events](https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/how-we-use-dom-events.md) to see exactly what events we use and when.

For *drag handles* we do put a `draggable="false"` on the element to opt out of html5 drag and drop. So you would not be able to have a single drag handle work with both. You could try to override `draggable

[2019-03-12 06:02] #1123 closed

[2019-03-12 06:05] #1101 closed

[2019-03-12 06:07] alexreardon commented on #1110
Closing due to inactivity

[2019-03-12 06:07] #1110 closed

[2019-03-12 06:12] alexlouden commented on #1109
Just upgraded to v10.1 on a project I'm working on (the web version of [Actions by Moleskine](http://moleskinestudio.com)), thought I'd share a screen recording: https://vimeo.com/323033479

I've been sharing some of our progress over on twitter if anyone is interested :) https://twitter.com/alexlouden/status/1104010850216505344

[2019-03-12 06:15] alexreardon commented on #1140
This breaks our contract: https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/api/draggable.md#draggable-s-should-be-visible-siblings

I would recommend rendering the modal outside of the list

[2019-03-12 06:17] alexreardon commented on #343
@dgdosen I have done some major documentation refactoring. You can read about it here: [10.1 release notes](https://github.com/atlassian/react-beautiful-dnd/releases/tag/v10.1.0)

How do you feel about them now?

[2019-03-12 06:17] alexreardon commented on #343
I will close this issue for now. I think we are getting further than I expected with simply using markdown files

[2019-03-12 06:17] #343 closed

[2019-03-12 06:18] alexreardon commented on #343
I am keen to add a stand alone site though!

[2019-03-12 06:18] alexreardon commented on #1100
Hi there!

Thanks for raising this issue. Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

Without a standalone example, we will not be able to action this one

Cheers!

[2019-03-12 06:19] alexreardon commented on #1095
It could be - but you could also use `isDropDisabled`

[2019-03-12 06:19] alexreardon commented on #1093
Duplicate: #930

[2019-03-12 06:19] #1093 closed

[2019-03-12 06:19] alexreardon commented on #1089
At this stage it is not supported

[2019-03-12 06:19] #1089 closed

[2019-03-12 06:24] alexreardon commented on #1159
It should just work. As long as they are in the same `DragDropContext` and have the same `type`

[2019-03-12 06:24] #1159 closed

[2019-03-12 06:25] alexreardon commented on #1153
They should be able to be dropped anywhere in the list..

[2019-03-12 06:33] alexreardon commented on #1073
It is possible to get the animations working with tables in ie11: https://atlaskit.atlassian.com/packages/core/dynamic-table/example/with-lots-of-pages-rankable

There are a few CSS properties required - you are welcome to go digging!

[2019-03-12 06:34] alexreardon commented on #1073
I don't have capacity to dig myself right now, but somebody else is welcome to!

[2019-03-12 07:21] wuyonglv commented on #1140
Ok ,thank you!

[2019-03-12 09:57] techterbium commented on #518
Any update on this? IMHO, this would make this library complete in terms of features provided w.r.t DnD.
Dear @alexreardon , please consider adding drop-shadow support.

[2019-03-12 14:07] lokeshkanagala commented on #1155
Ah. Sorry. I have a 3 column layout and wanted to achieve a CSS masonry kind of layout with left-to-right content flow. Any idea what's the effective way to achieve this? Sorry to mark it as issue, thought this is the right way to get opinions.

For example, my 3 column layout looks like this..consider the numbers to be actual widgets(Draggables)
[
1 2 3
4 5 6
7 8 9
]

If window is minimized, I wa

[2019-03-12 20:54] 12tp12 commented on #293
@NielsDom got the same problem

[2019-03-12 22:44] alexreardon commented on #1160
In case the existing behaviour is not clear:

If the user has already moved a dragging item then force press events are prevented.

What `shouldRespectForceTouch` does is prevent force touch events when lifting and before any movement has occurred

[2019-03-12 22:59] alexreardon commented on #1107
Right now it is not possible to drag into different levels of droppable

Duplicate: #1001

[2019-03-12 22:59] #1107 closed

[2019-03-12 22:59] alexreardon commented on #1072
That should be fine!

[2019-03-12 22:59] #1072 closed

[2019-03-12 23:00] alexreardon commented on #1043
It would be worth putting together a guide on how to use `react-beautiful-dnd` using function components + hooks

[2019-03-12 23:01] alexreardon commented on #1043
This would not be needed if we just moved to hooks #871

[2019-03-12 23:03] alexreardon commented on #203
I think this is no longer an issue

[2019-03-12 23:03] #203 closed

[2019-03-12 23:03] alexreardon commented on #94
See [10.1](https://github.com/atlassian/react-beautiful-dnd/releases/tag/v10.1.0)

[2019-03-12 23:03] #94 closed

[2019-03-12 23:04] alexreardon commented on #866
It has to do with something no moving on the page when it is expect to. I think for now it is best to say that this is not supported. If improve support for fixed lists then this should fit into that

[2019-03-12 23:04] #866 closed

[2019-03-12 23:04] alexreardon commented on #479
We will track this in #865

[2019-03-12 23:04] #479 closed

[2019-03-12 23:05] #508 closed

[2019-03-12 23:05] #974 closed

[2019-03-12 23:06] alexreardon commented on #977
For now this falls outside of our [design principles](https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/about/design-principles.md)

We will need to implement some sort of copy for #68.

For copy behaviour see #216

[2019-03-12 23:06] #977 closed

[2019-03-12 23:07] alexreardon commented on #979
Is this still an issue for you? It looks like it is caused by some incorrect array modifications. Please reopen if you still need assistance

[2019-03-12 23:07] #979 closed

[2019-03-12 23:08] alexreardon commented on #796
This should be possible now #1067

[2019-03-12 23:08] #796 closed

[2019-03-12 23:08] alexreardon commented on #978
We will track this here: #930

[2019-03-12 23:08] #978 closed

[2019-03-12 23:08] alexreardon commented on #1029
I'll close this for now. Please reopen if you still need assistance

[2019-03-12 23:08] #1029 closed

[2019-03-12 23:11] alexreardon commented on #1069
I don't think so @navneet-g. However, this scale issue will go away once we support virtual lists #68

Options:

1. Use a double render to delay the initialization
2. Use a virtual list to reduce the amount of items

The registration of 0.3ms does sound like a lot. It effectively just adds an entry to a map..

[2019-03-12 23:11] #1069 closed

[2019-03-12 23:12] alexreardon commented on #1098
Could you have a hidden droppable at the end of the list that is only activated when dragging from a different list? But I guess you want to be able to drop anywhere on the source list.

For now this falls outside of our [design thinking](https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/about/design-principles.md)

[2019-03-12 23:12] #1098 closed

[2019-03-12 23:14] alexreardon commented on #1046
Is this still occurring?

[2019-03-12 23:18] alexreardon commented on #1155
You could use `flex-wrap` or `grid`. Grid is currently not supported #1009

You *could* get your feature working by rendering different layouts for different break points. They key is that a single droppable cannot wrap right now. So you would only be able to reorder within a single row

[2019-03-12 23:18] #1155 closed

[2019-03-12 23:18] alexreardon commented on #1153
Feel free to reopen if you need some more input

[2019-03-12 23:18] #1153 closed

[2019-03-12 23:18] alexreardon commented on #1114
We are closing this issue due to inactivity. If you would like to continue the conversation feel free to reply to this issue and we can reopen it if needed.

[2019-03-12 23:18] #1114 closed

[2019-03-12 23:19] alexreardon commented on #1041
We are closing this issue due to inactivity. If you would like to continue the conversation feel free to reply to this issue and we can reopen it if needed.

[2019-03-12 23:19] #1041 closed

[2019-03-12 23:19] alexreardon commented on #1013
Tracking here: #930

[2019-03-12 23:19] #1013 closed

[2019-03-12 23:19] alexreardon commented on #968
We are closing this issue due to inactivity. If you would like to continue the conversation feel free to reply to this issue and we can reopen it if needed.

[2019-03-12 23:19] #968 closed

[2019-03-12 23:20] alexreardon commented on #917
We are closing this issue due to inactivity. If you would like to continue the conversation feel free to reply to this issue and we can reopen it if needed.

[2019-03-12 23:21] alexreardon commented on #854
For sure, this looks like a deep react-redux issue. I am hoping it will just go away when we move to hooks #871

[2019-03-12 23:21] alexreardon commented on #854
It could be worth calling out in the docs

[2019-03-12 23:21] alexreardon commented on #854
PR's welcome!

[2019-03-12 23:55] ianschmitz opened #1162 "Regression in list height while dragging in 10.1.0"
## Bug or feature request?

Bug

### Expected behavior
List height is maintained when drag begins

### Actual behavior
List height shrinks equal to the amount of one item

### Steps to reproduce
I am using a portal for the currently dragging item setup as described in the docs.

When looking at the DOM i notice that prior to 16.1.0, when i began dragging, a dummy div was inserted in the list in pl

[2019-03-12 23:59] alexreardon commented on #1162
have a look at your console. do you see anything?

[2019-03-13 00:01] alexreardon commented on #1162
I suspect you are not inserting the `droppableProvided.placeholder`

[2019-03-13 00:02] alexreardon commented on #1162
Also, your app looks cool! Is it public? I would like to take a look

[2019-03-13 00:05] alexreardon commented on #1162
https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/api/droppable.md#1-provided-droppableprovided

[2019-03-13 00:18] markerikson commented on #854
FWIW, I don't think I ever did see any kind of a repro project or test that I could look at with this.

[2019-03-13 00:22] alexreardon commented on #854
I stopped digging after a while. I think I got distracted.

My understanding: if you use a render props function then your children prop is always different, which has some flow-on effects.

[2019-03-13 01:13] ianschmitz commented on #1162
That was absolutely it. I hadn't added the `provided.placeholder`. Not sure how it was working before but oh well! Thank you very much for the quick response. I also noticed https://codesandbox.io/s/k260nyxq9v doesn't include `provided.droppableProps`. Not sure if this is an oversight?

We just released 1.0: https://apps.geocortex.com/webviewer/designer/

[2019-03-13 01:13] #1162 closed

[2019-03-13 02:57] alexreardon commented on #1162
Home lists got away with not inserting the placeholder before because it was not used in the same way.

It was an oversight. I have updated the example

[2019-03-13 02:59] alexreardon commented on #1162
I am glad it was an easy fix!

[2019-03-13 04:44] markbrown4 commented on #1021
Thanks Alex 🙏

[2019-03-13 04:53] markbrown4 commented on #1160
It won't be a surprise but `shouldRespectForceTouch: false` makes most sense as a default to me.

FWIW I asked a few people around the office to try and use the Draggable with it enabled and they weren't able to - It's natural for someone intending to drag something to press hard.
It seems like the force touch interaction is getting in the way of the core function of the library.

Appreciate the u

[2019-03-13 05:08] alexreardon commented on #1160
I am thinking the same thing @markbrown4. My current thinking is that in the next major version I will flip the default value

[2019-03-13 08:50] Robert-Fish commented on #1159
Do they have to be direct children of the dragDropContext?

[2019-03-13 09:44] dogzy123 commented on #1046
@alexreardon yes, It is. Just installed react-beautiful-dnd, on compiling got this:

ERROR in ./node_modules/@babel/runtime-corejs2/core-js/date/now.js
Module not found: Error: Can't resolve 'core-js/library/fn/date/now' in '/public_html/ota/gds-pcc/node_modules/@babel/runtime-corejs2/core-js/date'
 @ ./node_modules/@babel/runtime-corejs2/core-js/date/now.js 1:17-55
 @ ./node_modules/react-beautif

[2019-03-13 10:27] alexreardon commented on #1043
Here is an example I put together: https://codesandbox.io/s/zqwz5n5p9x

[2019-03-13 10:27] alexreardon commented on #1043
I think I will also add a story example

[2019-03-13 10:37] Aarbel opened #1163 "New version of RBD logs too much errors"
I wrap all of my app with `<DrapDropContext>` to perform drag and drops everywhere.
I upgraded to the last version of react-beautifull-dnd.

Right know when a child component has an error while developping, my console is overflowed with react-beautifull-dnd errors like this :

![image](https://user-images.githubusercontent.com/25119847/54272388-e49c6d80-4583-11e9-8eec-9e12ecbea349.png)

# Do you k

[2019-03-13 10:41] alexreardon commented on #1163
Can you please expand the error and paste the stack trace?

Is there any other message text?

[2019-03-13 13:10] Aarbel commented on #1163
@alexreardon

As you can see the error is not inside RBD, but inside the component i am working on `<PopupFileVersions>`.
Here it's just a simple undefined variable `onClose` error, but it's loggued by RBD.

![image](https://user-images.githubusercontent.com/25119847/54281151-634fd580-4599-11e9-9422-1564bb12fe8c.png)

[2019-03-13 13:18] lokeshkanagala commented on #1155
Yep. Got you. Thanks Alex.

[2019-03-13 15:37] Aarbel opened #1165 "Uncaught Error: Invariant failed: Cannot unregister Droppable with id"
I'v got this error, do you know a way to fix it ?

Looks like bad behavior with react unmounting

[code]

![image](https://user-images.githubusercontent.com/25119847/54292232-19bdb580-45ae-11e9-9386-0fbdd8f64b26.png)

[2019-03-13 21:16] greenkeeper[bot] opened #1166 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.10.0` to `1.11.0`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Fmonorepo.enzyme-20190313205919).

This version is **covered** by your **current version range** and after u

[2019-03-13 23:10] SelfDevTV opened #1168 "After dragging a Dragable and let it go in Dropable, it has no margin, but after half a second the margin gets applied instantly."
## Bug or feature request?

Bug

When I drag my card around and let go, it takes a while after it applies the margin (about half a second). So there is a some weird lag after dropping ends.
It's hard to describe but you can play around with it in the demo and see what I mean.
At first I thought it had to do something with JSS so I switched to styled-components but still same problem.

### Expected

[2019-03-14 00:33] alexreardon commented on #1043
#1167

[2019-03-14 09:00] Utopiad commented on #293
Thanks @debo07 , you just made my day.

[2019-03-14 10:25] alexreardon commented on #1168
Hi there!

Thanks for raising this issue. Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

Without a standalone example, we will not be able to action this one

Cheers!

[2019-03-14 10:28] Duohao commented on #1001
http://www.bootcss.com/p/layoutit/ @alexreardon , dnd can not do something like this ?

![image](https://user-images.githubusercontent.com/46482051/54349679-bd7a9480-4686-11e9-882c-7ad590957578.png)

[2019-03-14 11:27] nutboltu commented on #982
@alexreardon Great initiatives! As an initiative, any thoughts of moving `@types/react-beautiful-dnd` to this repos?

[2019-03-14 11:53] SelfDevTV commented on #1168
Hi,

I have created an example: https://codesandbox.io/s/xp32j520rz?fontsize=14

The only thing I changed was on line 27

`margin: 8,` from `margin: 0 0 ${grid}px 0`

Now you can see the behaviour I mentioned.

[2019-03-14 15:31] zainxyz commented on #1165
I agree, I've been running into the same error.

In my case, we have two views. One that displays a list of Accordions (view-1), and another which lets the user 'edit' and move them around (view-2).

In `view-2`, after moving reordering the accordions, and clicking 'save', we redirect the user back to `view-1`. During the redirect cycle, we run into a similar error, about the rearranged droppables

[2019-03-14 17:03] Frankcarvajal opened #1169 "Add Multi-drag feature example to Table Story"
## Feature Request

Many UI's consist of tables more often than task lists.
It's not a bug, so I'm including this as a feature request / suggestion & hoping someone if not myself, can hack this & contribute to those who want to simply use RBDnD in the world of tables.

There is a Storybook story of a Table with drag n drop and a story for multi-drop of a task list.
I'm proposing a story of a combi

[2019-03-14 17:05] mDibyo commented on #984
Hey @JamieDixon, It should be completely fine to have multiple versions of `react-redux` in your codebase. Are you worried about the increase in bundle size?

[2019-03-14 18:32] Aarbel opened #1170 "Remove Warning : DroppableProvided > placeholder could not be found"
[code]

1. `https://github.com/atlassian/react-beautiful-dnd#1-provided-droppableprovided` is a dead link
2. I don't want to use `{provider.placeholder}` and don't want to show a space under the droppable, how can i remove this warning ?

Thanks for your help !

![image](https://user-images.githubusercontent.com/25119847/54381978-50b7c800-468f-11e9-8441-c08903dc45f3.png)

[2019-03-15 00:16] alexreardon commented on #1170
Please update to 10.1 It will then not be a dead link

https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/api/droppable.md#1-provided-droppableprovided

[2019-03-15 00:16] #1170 closed

[2019-03-15 00:22] alexreardon commented on #1168
It has to do with margin collapsing:

https://codesandbox.io/s/l54no9x1y7

Ensure there is no margin collapsing and you will be good to go

https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/api/draggable.md#unsupported-margin-setups

[2019-03-15 00:22] #1168 closed

[2019-03-15 00:23] alexreardon commented on #1165
Hi there!

Thanks for raising this issue. Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

Without a standalone example, we will not be able to action this one

Cheers!

[2019-03-15 00:29] alexreardon commented on #871
Some bad news: there is no useProvider react hook. So there is no way for a hook to setup context.

This is bad because `Droppable` sets up some context information to be used by `Draggable`. (type and droppableId).

While we can still move internally to hooks, this might be a dealbreaker

[2019-03-15 01:44] rc1336 commented on #875
Having trouble with the egghead tutorial.

I have tried replacing ```innerRef``` with ```ref``` and ```forwardRef```

Yet still returning the error
```Error: Invariant failed: Cannot get draggable ref from drag handle```

Also have a warning being thrown but cant seem to find the file the that needs to be replaced.
```Replace text-decoration-skip: ink to text-decoration-skip-ink: auto, because spe

[2019-03-15 05:21] wesleywong commented on #316
Hi @alexreardon, any planning to support this wrap issue? Horizontal with multiple rows seems quite a common use case. I'm working on the preview uploaded image and let users arrange the order but seem I can't use this library to achieve this objective.

![Screen Shot 2019-03-15 at 1 19 38 PM](https://user-images.githubusercontent.com/3807686/54410128-1ac52300-4725-11e9-9fcb-be6c779844e4.png)

[2019-03-15 12:19] Aarbel opened #1172 "Question: How to put drag anchor on top-left of draggable ?"
For the moment the drag anchor is centered in the `Draggable` component.

Is there a way to put it on top left ?

Thanks a lot for your help

[2019-03-15 12:31] JakubSimandl commented on #1088
@alexreardon This issue is still present in the latest version.
[code]
^ this line doesn't work, since in IE11, the `.currentTarget` is actually the window, because the event gets bubbled to window, so it results in the original error.

[2019-03-15 23:15] MikaelCarpenter commented on #1074
@alexreardon Revisiting this now that 10.1 is out, looks like `isDropAnimating` has been added to `snapshot` for `Draggable`s. This can probably be closed

[2019-03-15 23:38] Venryx commented on #518
I managed to implement a custom placeholder manually in my project.

I don't have time to clean up the code for easy reuse, but if someone wants to see the general approach I took, you can browse the source code here: https://github.com/canonical-debate-lab/client/blob/68dadee32832f2a555c7f9ac9b928362b45e9c45/Source/UI/%40Shared/Maps/MapNode/NodeUI/NodeChildHolder.tsx#L110

Here's a gif of the cus

[2019-03-17 02:16] savvysqrrl3 commented on #875
I ended up not using styled components, since I had a deadline. Since I used LESS, I figure you would have to do an event handler like /onMouseover/ or something like that.
I too had issues with the innerRef not working until I changed the order. You can see my solution at [https://github.com/savvysqrrl3/fab_grid](url)

[2019-03-17 14:11] YurkaninRyan commented on #871
Could that context information instead be shifted up to DragDropContext and contained in some sort of internal map by droppable id?

[2019-03-17 17:22] cleverbeagle commented on #131
For folks trying to achieve a Trello-style kanban, I was able to hack this together utilizing the `onDragUpdate` callback:

[code]

Here, `update` is the value passed from `onDragUpdate`. That tells you what's moving and where it's trying to go. The `sourceId` and `destinationId` are me saying "if the these exist (source always should), use them." I use the lodash `_.get()` method as a safety mech

[2019-03-17 19:12] NickEmpetvee commented on #875
@rc1336 I compose it this way and it works:

[code]

[2019-03-18 01:51] Robert-Fish opened #1175 "Creating whitespace items between"
Is it possible to have whitespace items between items?

[2019-03-18 01:55] Robert-Fish opened #1176 "Tracking x position of items along list"
Is it possible to track the x position of items along the list?

[2019-03-18 02:31] alexreardon commented on #871
Interesting @YurkaninRyan

[2019-03-18 03:25] alexreardon commented on #871
Important milestone: everything has been converted to hooks internally, and it mounts without exploding

<img width="587" alt="Screen Shot 2019-03-18 at 2 24 21 pm" src="https://user-images.githubusercontent.com/2182637/54504865-a5a65780-4989-11e9-839e-3fef6f74bacc.png">

[2019-03-18 09:44] a7medMZ opened #1177 "result.destination in combining mode"
## Bug or feature request

result.destination is null in the case of combining two items. is there any other solution to get the id of the destination that i'm combining with.

[2019-03-18 10:42] alexreardon commented on #871
It then turns into a hot mess when you start to drag

[2019-03-18 10:43] #1177 closed

[2019-03-18 14:43] llamamoray commented on #498
@cocacrave Thanks for the temporary solution to this! I've tried it using version 10.0.4 and it's working great.

I was just wondering whether you've tried it using 10.1.0? I'm having problems with the drop area incorrectly calculating height and I'm struggling to work out if it's something that changed in the library which is incompatible with the work around or just some flex problem in my app.

[2019-03-18 17:53] zmi-jlblatt opened #1178 "draggableSnapshot.draggingOver when dropping over nothing"
## Bug
The behavior of `draggableSnapshot.draggingOver` seems to have changed in `10.1.0`.  I updated from `10.0.3` and found that when dropping an item outside of a droppable area,
`draggableSnapshot.draggingOver` now reports the source droppable id, instead of `null`.  This occurs only while `draggableSnapshot.isDropAnimating` is `true` - the value is `null` before and after the drop.

To me thi

[2019-03-18 21:00] ChangoMan commented on #1043
Thank you! I was looking for this exact example, works great!

[2019-03-18 21:59] #1043 closed

[2019-03-18 22:00] alexreardon commented on #1178
This was intentional but not thought through fully. The hooks still report `null` as the destination, but I did not anticipate the draggable snapshot being used like this

[2019-03-19 04:20] alexreardon opened #1180 "Setup CLA blot"
We need to setup an automated Contributor License Agreement (CLA) bot for this project.

* [CLA for corporate contributors](https://na2.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=e1c17c66-ca4d-4aab-a953-2c231af4a20b)
* [CLA for individuals](https://na2.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=3f94fbdc-2fbe-46ac-b14c-5d152700ae5d)

There seem to be a few bots out there, any

[2019-03-19 04:28] alexreardon commented on #1180
Pending internal chats

[2019-03-19 04:28] #1180 closed

[2019-03-19 15:59] NicoleRauch opened #1181 "Invariant failed: Cannot remove the dragging item during a drag"
## Bug report

react-beautiful-dnd: Version 10.1.0

When I start dragging an item out of my list, I get a nice crash with the following error message:

![image](https://user-images.githubusercontent.com/436499/54614193-4bc29200-4a5c-11e9-8b60-b183b400edf7.png)

When I downgrade to 9.0.2, dragging works without errors.

### Expected behavior

I expect the dragging in 10.1.0 to work without crashes

[2019-03-19 17:19] NicoleRauch commented on #1181
I ran some further experiments, and I found out that this error also occurs with the older version when one of those conditions is true:

- the property `isDropDisabled={true}` is removed from the Droppable shown above
- the node is dragged outside of the enclosing container

[2019-03-20 07:34] lulious opened #1182 "Destination null when dropping onto a smaller area"
## Bug or feature request?
Hey, I'm trying to implement a pretty basic feature but I'm stuck for some reason. The idea is to let users drag an item onto a trash can to delete it. I already implemented dnd for moving items around and it works perfectly, all I did now was I added a second droppable and put the icon inside of it. For some reason though when I drop onto it, I get destination: null. It

[2019-03-20 09:32] entiendoNull opened #1183 "Nested dropp and draggables with different types"
### Expected behavior
I wish to be able to drag an item into any droppable.

### Actual behavior
I have several nested draggables and droppables.

![Screen Shot 2019-03-20 at 09 50 31](https://user-images.githubusercontent.com/13820994/54671168-a65bfc80-4af5-11e9-8df5-f19603c9882b.png)

Let me explain:

- Blue container is a droppable
- Black container is droppable and draggable
- Red container is

[2019-03-20 10:18] MrBojangles commented on #1114
Have recreated the issue where it appears a drag is occuring all the time, at least the error message says so. Can be found [here](https://github.com/MrBojangles/beaut-dnd-err).

[2019-03-20 16:11] zmi-jlblatt commented on #1178
No worries, thanks for checking it out.  `10.0.3` works for our purposes right now, but I do like the animation changes in `10.1.0`.  I could likely work around this issue via `onDragEnd` if I get the time, but still wanted to raise it as it seemed counter-intuitive to me.

[2019-03-20 19:24] DhirajKhot opened #1185 "How to change animation for dragged over items"
## Bug or feature request?

Feature

### Expected behavior

When an item is being dragged in the list, the dragged over items should remain intact to their position until the dragged item is not released at the target location. Once it is released then the all the items (except the one being dragged) should animate and move away to make a place for the dragged item at the target location.

### Act

[2019-03-20 21:54] cocacrave commented on #498
@llamamoray You're right. It's working fine on 10.0.4 but breaks badly on 10.1.0. Well that sucks... Hopefully the library implements this RFC before I need to upgrade the package.

Things I noticed were the "placeholders" not being held in place on drag. And maybe as a result the drop moveTo is placed at a weird location.

I have no clue why the workaround above would mess with positioning... doe

[2019-03-20 22:05] alexreardon commented on #498
I am working on a hooks api right now, and this sort of thing is being considered #871

[2019-03-20 22:16] Pearce-Ropion opened #1186 "Draggables disappear inside of other portals."
## Type
Bug

## Description
Draggables seem to disappear when using DnD lists that are inside of another portal. I am using Semantic UI's Popup to create the parent portal. I've tried using the portal method to create the DnDs but this also doesn't seem to work. Also there are no errors/warnings in console.

### Expected behavior
Draggables can be moved within a parent droppable as normal. Sibling

[2019-03-20 22:48] alexreardon commented on #1178
I have a fix for this that should be landing in `10.1.1`

[2019-03-21 00:19] #1178 closed

[2019-03-21 05:38] alexreardon commented on #1186
![giphy-25](https://user-images.githubusercontent.com/2182637/54735036-b956f580-4bf7-11e9-9e29-baa356f80aa2.gif)

[2019-03-21 05:38] alexreardon commented on #1186
I'll try to take a look soon 😄

[2019-03-21 05:41] markdon commented on #1109
I made a component (MultiTree) based on @atlaskit/tree for rendering multiple lists with tree structures. This came about since @atlaskit/tree was almost perfect for what I was building, except it was only designed to have one Tree and dragging between different Tree components wasn't possible.

![MultiTree demo!](https://i.imgur.com/2nWaGpr.gif)
[![Edit MultiTree](https://codesandbox.io/static/im

[2019-03-21 07:05] humphreybc opened #1189 "Missing placeholder div after 10.1.0 causes layout issues when dragging lists"
## Bug

### Expected behavior

We just upgraded to 10.1.0. The new drag animation is great, however, we've run into a small issue. Hopefully someone can help us out with a suggestion.

We have a **+** button next to our groups (lists) on the ‘board’ to create a new group, not unlike Trello. It sits to the right of the lists. Before 10.1.0, when you dragged a group, a placeholder div would be rende

[2019-03-21 07:09] humphreybc commented on #1189
Ha! We were not rendering the `placeholder`. I'm not sure how it was working before. Anyway, ignore this. The solution is to render the placeholder:

[code]

[2019-03-21 07:09] #1189 closed

[2019-03-21 07:26] humphreybc commented on #131
@cleverbeagle Nice one! I gave this a go, and while the window does scroll horizontally, the items are still not dropped in the correct list when you let go of the cursor.

[2019-03-21 09:30] Spaider15 opened #1190 "How to properly filter item, and skip it index."
## Bug or feature request?

bug

In my case, i need to save index in array, but filter some items. if i will filter 0 item, then if i will try drag first item after 2, it jumps after two items. if i will return it to first item, it will swap with 0 item, which i filtered.

### Steps to reproduce
Open url, try to drag & drop first item with second. or just start and stop drag it.
https://codesandbo

[2019-03-21 13:02] cleverbeagle commented on #131
@humphreybc unfortunately, yeah, found the same once I got a bit deeper into solving this. Had the wind in my hair when I posted this 😜

[2019-03-21 14:12] mehmetcan92 opened #1191 "Dynamic Droppable Component not working when I was move other component child."
I will try explain my issue. First of all I'm trying  make formula designer component with React DND. I'm creating a Droppable area dynamically in the run time.  After that I'm moving the first created Droppable to a child of a component.But first created Droppable didn't work and I don't drop any draggable item. I keep the dynamic components in an object. I'm sharing structure data and image belo

[2019-03-21 14:13] mehmetcan92 commented on #708
Hi @alexreardon

I created new issue. Can you examine #1191

[2019-03-21 20:57] jlindberg-oss commented on #156
@84pennies this is what worked for me:

[code]

(The starting point for my code is the simple vertical list example at https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/about/examples.md#basic-samples)

I guess the need to do it this way is explained by:
https://github.com/mobxjs/mobx/blob/gh-pages/docs/best/react.md#mobx-only-tracks-data-accessed-for-observer-components-if-they-ar

[2019-03-21 22:21] alexreardon opened #1193 "11.0 Breaking changes"
Here is a list of planned breaking changes for `11.0`

### `shouldRespectForceTouch`

#### Name change
shouldRespectForce**Touch** => shouldRespectForce**Press**

We will be calling preventDefault on the following:
`webkitmouseforcechanged` (mouse) and `touchforcechange` (touch)

I think moving to `shouldRespectForcePress` is a clearer name given that it can be fired from mouse inputs too. `ForceP

[2019-03-21 22:26] alexreardon opened #1194 "11.0 Planned breaking changes (not much!)"
Here is a list of planned breaking changes for `11.0`

### 1. React peer dependency

Moving from `^16.3.1` to `^16.8.0`.

#### Reasons:

- Internally we will be moving things incrementally to hooks #871.
- Need `16.8` to take advantage of `react-redux@7` https://github.com/reduxjs/react-redux/issues/1177
- Moving to `16.6` context API. Still using old school react context

### 2. `shouldRespectFor

[2019-03-21 23:27] alexreardon commented on #1194
A huge thanks to @markerikson for his hard work on `react-redux` 👏

[2019-03-22 01:44] iMerica commented on #1152
Looks like the next version of React will include a native way of reporting these things so they look consistent (the crux of this issue).

https://github.com/facebook/react/pull/15170

cc/ @alexreardon

[2019-03-22 05:49] DhirajKhot commented on #1185
Hello @alexreardon. I have attached a demo. This might be helpful.

[2019-03-22 06:34] ravinder-aika opened #1196 "Warning: Prop `data-react-beautiful-dnd-droppable` did not match. Server: "9" Client: "0""
## Bug?
Showing the above warning when I implemented that into a simple vertical list.

## My Code

                <Droppable droppableId="droppable">
                  {provided => (
                    <div {...provided.droppableProps} ref={provided.innerRef}>
                      {!is_fetching &&
                        posts.map((post, i) => {
                          return (

[2019-03-22 15:24] zmi-jlblatt commented on #1178
Great news, thanks so much!

[2019-03-23 02:54] kohenchia commented on #216
This technique no longer works under the latest version (10.x), because they removed snapping. It's a bit hard to explain, but here's an example. All I did was take the example above and update the `react-beautiful-dnd` version to 10.x:

https://codesandbox.io/embed/1ykz68njw7

In prior versions, this technique relied on the pre-snapped white space to exist as a <div> instantaneously upon dragging

[2019-03-23 04:02] pixelass commented on #216
Here's a new hack:

[code]

https://codesandbox.io/s/q3717y1jq4

[2019-03-23 11:51] Ajaay opened #1198 "Capture current x-axis scroll position on board"
Question - What is the easiest way to capture current horizontal scroll position on a board?

My draggables in each list open a modal and when the modal is closed, the board scroll position is reset to the beginning. I would like to maintain my x-axis scroll position when closing the modal.

Thanks!

[2019-03-24 12:17] Aarbel commented on #1165
@alexreardon

I was displaying two `Droppable` zones with the same id (one was displayed by a popup above the other one). So RBD was confused to unmount them.

[2019-03-24 12:17] #1165 closed

[2019-03-24 16:34] mrondon commented on #133
+1

[2019-03-24 17:51] mathieueveillard commented on #316
Hi,

Horizontal drag and drop with multiple rows can be achieved using multiple `Droppable`s and a little bit of computation. However, the user experience is not so smooth as it might be if it was a native feature.

I would also have expected such a feature from this library, which remains excellent besides and offers features that concurrent libraries do not implement (multidrag, combining items

[2019-03-25 03:22] ouoru commented on #316
I suggest you guys check out [react-sortable-hoc](https://github.com/clauderic/react-sortable-hoc) if you need this functionality. Super easy to implement, and does not require a global wrapper.

[2019-03-25 05:21] alexreardon commented on #316
We do not plan on supporting it soon. [Here is what we are working on](https://github.com/atlassian/react-beautiful-dnd/milestone/2)

You are welcome to fork or use `react-sortable-hoc` if that suits your immediate needs 👍

[2019-03-25 05:23] alexreardon commented on #1009
Duplicate: #316

[2019-03-25 05:23] #1009 closed

[2019-03-25 05:26] alexreardon commented on #1169
Hi @Frankcarvajal! This sounds like a good example to have! Are you happy to run with it? You should have everything you need to make it:

- [table pattern](/docs/patterns/table.md)
- [multi drag guide](/docs/patterns/multi-drag.md)

What you are after is a combination of the two

[2019-03-25 05:27] alexreardon commented on #1009
Locking this to avoid +1 spam. Please refer to #316 💃

[2019-03-25 05:27] alexreardon commented on #1178
I hope to do a patch release tomorrow @zmi-jlblatt

[2019-03-25 05:28] alexreardon commented on #216
I love the resourcefulness of this thread. I am not committing to shipping copy + drag, but it will be thought about as a part of #68

[2019-03-25 05:29] alexreardon commented on #1196
Hi @ravinder-aika,

Please see [`resetServerContext](/docs/api/reset-server-context.md)

[2019-03-25 05:29] #1196 closed

[2019-03-25 05:30] alexreardon commented on #1185
Hi there!

Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

That way I can just open it in a browser and have a play

Cheers!

[2019-03-25 05:32] alexreardon commented on #1198
Hi there!

Thanks for raising this issue. Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

Without a standalone example, we will not be able to action this one

Cheers!

[2019-03-25 05:33] alexreardon commented on #1198
A loss of scroll position seems strange. React is usually quite good at maintaining it. What you are seeing also seems to be outside of the scope of responsibility of this library.

I will close this issue for now for that reason. But feel free to respond with a reproducible sandbox and I can try to take a look

[2019-03-25 05:33] #1198 closed

[2019-03-25 05:33] alexreardon commented on #1165
I am glad you got it sorted

[2019-03-25 05:37] DhirajKhot commented on #1185
Hello @alexreardon
Can you please help me understand the information you need?
I checked the link you mentioned and it already has an example (10 items - item 0 to 9 can be dragged and dropped ).

[2019-03-25 05:43] alexreardon commented on #1185
I generally do not run projects on my computer. But I can see that the zip file is a .mov file.

We avoid this style of interaction as it goes against our [guiding design principle](https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/about/design-principles.md) of physicality. In the real world items move out the way naturally.

This is the design language that we are supporting. You

[2019-03-25 05:43] #1185 closed

[2019-03-25 07:59] greenkeeper[bot] opened #1200 "An in-range update of emotion is breaking the build 🚨"
## There have been updates to the *emotion* monorepo:

 + - The `devDependency` [@emotion/core](https://www.npmjs.com/package/@emotion/core) was updated from `10.0.9` to `10.0.10`.
- The `devDependency` [@emotion/styled](https://www.npmjs.com/package/@emotion/styled) was updated from `10.0.9` to `10.0.10`.
- The `devDependency` [babel-plugin-emotion](https://www.npmjs.com/package/babel-plugin-emot

[2019-03-25 10:18] RinatRezyapov commented on #668
In case that someone is reading this closed issue.
Can confirm that portals solve problems with material-ui appBar, toolBar etc.
This example of using portal could be helpful (https://codesandbox.io/s/88n6j1xlnj).

[2019-03-25 11:48] lukyth opened #1201 "Columns overlapped when start dragging in the board example"
## Bug or feature request?

Bug

### Expected behavior

When start dragging a board at https://react-beautiful-dnd.netlify.com/?path=/story/board--scrollable-columns on a small width screen, "Finn" and "Princess bubblegum" column are not overlapped.

### Actual behavior

"Finn" and "Princess bubblegum" column will be overlapped when start dragging.

### Steps to reproduce

1. Visit https://react-b

[2019-03-25 15:28] Frankcarvajal commented on #1169
@alexreardon For sure! I'll definitely start trying to piece the two together in a combination and assign this issue to myself. Wish me luck and focus, as I'm sure I'll need it!

Cheers

[2019-03-25 15:54] zmi-jlblatt commented on #1178
Many thanks again!

[2019-03-27 07:32] dogrultan commented on #133
+1

[2019-03-27 14:56] Spaider15 commented on #1190
Can some one help here?

[2019-03-27 15:51] Butch-1337 commented on #1108
Any updates on this issue?

[2019-03-27 16:28] jfrej commented on #1053
This _might_ be related: I recently found an issue with growing number of DOM Nodes when switching between a page with `react-beautiful-dnd` and others.
It looks like `react-beautiful-dnd` never properly releases any DOM Nodes and they're kept in memory forever.

We're using `react-router` in our app, but here's a simple reproduction using state to toggle dnd components: https://codesandbox.io/s/r

[2019-03-27 16:52] InteriorNature commented on #274
Is numeric support necessary? I'm used to db identifiers being numeric - but the react apollo/graphql transports them as strings. On the other end, render ids in HTML5 are string <element id="id">, and passing ids other ways, like jsonwebtoken, are passed as string, as well.

[2019-03-27 18:22] KhogaEslam commented on #68
any updates about using  [React Virtualized](https://github.com/bvaughn/react-virtualized) with [React Beautiful DnD](https://github.com/atlassian/react-beautiful-dnd/) ?

[2019-03-27 20:36] arunasri opened #1203 "react-test-render fails to render draggable"
## Bug or feature request?

Bug
## Get started
react-test-render throwing exception

## Duplicates

 Console

    console.error node_modules/jest-environment-jsdom/node_modules/jsdom/lib/jsdom/virtual-console.js:29
      Error: Uncaught [Error: Invariant failed:
          provided.innerRef has not been provided with a HTMLElement.

          You can find a guide on using the innerRef callback func

[2019-03-27 23:18] markdon commented on #1190
In your render, I don't think you can really just skip rendering an item, since rbd probably expects
contiguous indexes from 0 to n-1.

You're skipping the item at index 0 of the current array. Did you really mean to skip whichever item is called 'item-0'?

I don't think there is a really simple way to make a filtered list. You'll kind of need to manage two lists. An unfiltered list and a filtered

[2019-03-28 01:52] lifeiscontent opened #1204 "Quick Question: How To"
I'm implementing a Window Splitter with react-beautiful-dnd

I noticed you guys extend react-beautiful-dnd with your tree component so I'm wondering if its possible to do something like this.

a few concepts:

WindowSplitter - The Window Splitter Container
WindowSplitterResizer - The Element to Resize a Pane
WindowSplitterPane - The Pane

Tabs - Tabs component to hold many windows
TabsNav - Contai

[2019-03-28 10:59] Spaider15 commented on #1190
@markdon Thanks for your help. I found how to fix this. just will use display: none for filtered item.

[2019-03-28 10:59] #1190 closed

[2019-03-28 11:39] shruti8789 commented on #27
Here, we can see a definite area after which it starts to auto-scroll (both above and down the pane/palette) . Can we customize this area?

[2019-03-28 12:45] shruti8789 opened #1205 "Customizing area in which we auto-scroll"
@alexreardon
Here, we can see a definite area after which it starts to auto-scroll (both above and down the pane/palette) . Can we customize this area?

_Originally posted by @shruti8789 in https://github.com/atlassian/react-beautiful-dnd/issues/27#issuecomment-477559715_

[2019-03-28 19:30] Frankcarvajal commented on #1169
@alexreardon The biggest hurdle I'm dealing with this right now is the difference between MultiDrag example is the extra code written `reorderSingleDrag`, `reorderMultiDrag`, etc used in task-app that uses reorder still, but handles it much differently (because MultiDrag separates columns and tasks in completely separate files (Table code does not, nor does it use more than reorder).

The pattern

[2019-03-28 20:46] lifeiscontent opened #1206 "shouldn't this be touchSensor instead of mouseSensor?"
https://github.com/atlassian/react-beautiful-dnd/blob/67b96c8d04f64af6b63ae1315f74fc02b5db032b/src/view/drag-handle/drag-handle.jsx#L205

[2019-03-29 05:59] nosus commented on #1046
I am having the same problem
[code]
when I build the bundle after introducing 'react-beautiful-dnd' into my application.

[2019-03-29 06:18] nosus commented on #1046
my webpack config is a little bit different, I am using this plugin "nodeExternals" to basically external all the node module and using `whitelist` to only include the ones I want.

[code]
after I introduce `react-beautifuly-dnd`, I put it and all its dependencies into the white list as well, even the 'core-js`. when I build the bundle file, it's okay. But when I include this bundle into another a

[2019-03-29 07:01] alexreardon commented on #1206
Yep! I have fixed this in the hooks branch

[2019-03-29 07:02] alexreardon commented on #1206
We do things a bit differently

[2019-03-29 08:39] dexteritus commented on #375
Hi @alexreardon

Can I disable the resize event canceling a drag?

Thanks
Dec

[2019-03-29 13:49] Jbotman commented on #518
@Venryx can you implement this inside a simple list?
I really need it for my application

[2019-03-29 14:54] ngyikp commented on #1109
Not my creation, but I know that [Facebook's Gaming Streamer Dashboard](https://www.facebook.com/gaming/streamer/) uses react-beautiful-dnd :)

![Screen Shot 2019-03-29 at 10 38 35 PM](https://user-images.githubusercontent.com/6135313/55240430-d92f8e80-5273-11e9-8ec7-75b97f65ee19.png)

[2019-03-29 16:58] MikaelCarpenter commented on #1203
I believe I'm seeing something similar when trying to mount with `enzyme@3.7.0` (`jest-enzyme@7.0.1`)

[code]

Will update as I figure out more..

[2019-03-29 18:28] lifeiscontent commented on #1206
@alexreardon I've been spending some time learning how react-beautiful-dnd works.

do you know how I could change the way placeholder works so I can visualize to my users that if they drag a `Tab` into a `Pane` it'll potentially split into 2 Panes depending on the direction that they drop it in.

[2019-03-29 20:00] Pearce-Ropion commented on #1186
Any progress on this? I've moved to a simple up/down button system for now but I would really like to use DnD for a cleaner UX.

[2019-03-31 14:24] AdamBCo commented on #859
@MRauca Thanks for providing the solution above. It really helped. I did notice that when you drag the row, the cells collapse. How were you able to address that issue? Thanks for the help.

[2019-03-31 22:28] #1200 closed

[2019-03-31 23:11] alexreardon commented on #498
Thank you to everyone for your input so far!

## Background

Currently we have `onBeforeDragStart`, `onDragStart`, `onDragUpdate` and `onDragEnd` on the `DragDropContext` (the `Responder`s). While this works, often people want to be able to manage these concerns closer to where the drag is happening: at the `Droppable` level.

## Proposal

Allow `Responder`s on `Droppable`s

- Existing `Responders

[2019-03-31 23:18] alexreardon commented on #1193
Closed in favour of #1194

[2019-03-31 23:18] #1193 closed

[2019-03-31 23:34] alexreardon commented on #498
↑ @spatialvlad, @Frozenlock, @saiichihashimoto, @ianstormtaylor, @rhys-vdw, @JReinhold

[2019-04-01 00:35] alexreardon commented on #871
I have a branch that is working and passing all tests. I am doing some finial performance testing #1208. You can play with it here: https://deploy-preview-1208--react-beautiful-dnd.netlify.com/?path=/story/single-vertical-list--basic

The branch is currently using `react-redux@7-beta` and I think we should wait until it is out of `beta` before leaning on `react-redux@7`

[2019-04-01 04:49] nosus commented on #1046
@TrySound @alexreardon any thoughts on this issue?  it's blocking our project right now as we cannot commit any code using the `react-beautiful-dnd` as it will break the whole build of the product.

[2019-04-01 05:12] alexreardon commented on #1109
Super cool @ngyikp. Thanks for the share!

[2019-04-01 05:49] velmuruganramalingam commented on #1181
@NicoleRauch , Did you happen to fix the above issue. I get the same error when I try to drag the item from a tree.
![image](https://user-images.githubusercontent.com/22024846/55305815-9508dd80-546f-11e9-9bc1-f8b56dead2b4.png)

[2019-04-01 05:57] NicoleRauch commented on #1181
@velmuruganramalingam Sorry, no. I just gave up on using the component altogether.

[2019-04-01 06:11] JReinhold commented on #498
All in all it sounds like a great approach. A few comments:

### Extra info about which `Droppable` is home/foreign

If `onDragEnd` is both fired on `DragDropContext`, home `Droppable` and foreign `Droppable`, I expect almost all `onDragEnd` calls to start with a check that figures out if the responder was called because this `Droppable` was the home or the foreign droppable. Eg. something like:

[2019-04-01 08:02] MRauca commented on #859
@AdamBCo Here is an official example that seems to be working properly: https://react-beautiful-dnd.netlify.com/?path=/story/tables--with-fixed-width-columns. The code for that example is here: https://github.com/atlassian/react-beautiful-dnd/blob/master/stories/src/table/with-fixed-columns.jsx. Hope it helps.

[code]

[2019-04-01 09:19] greenkeeper[bot] opened #1209 "An in-range update of globby is breaking the build 🚨"
## The devDependency [globby](https://github.com/sindresorhus/globby) was updated from `9.1.0` to `9.2.0`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Fglobby-9.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

globby is a devDependency of this proje

[2019-04-01 11:37] MrBojangles commented on #1108
Have recreated the issue where it appears a drag is occuring all the time, at least the error message says so. Can be found [here](https://github.com/MrBojangles/beaut-dnd-err). npm-run-start then click the button

[2019-04-01 11:56] DhanushkumarSivaji opened #1210 "An error has occurred while a drag is occurring.Any existing drag will be cancelled."
## Bug or feature request?
Hi i exactly followed the same steps that is used in this link https://codesandbox.io/s/9z7qwmmr7r

But i try to run this code . it throws me an error at Task.js file . Please help me with that .

Your help is much needed

## Check your console

An error has occurred while a drag is occurring.Any existing drag will be cancelled.> Uncaught TypeError: Cannot read property

[2019-04-01 13:49] #1210 closed

[2019-04-01 16:42] ericbiewener commented on #222
Perhaps this could be added to the docs somewhere? There is no mention of these props anywhere.

[2019-04-01 19:42] saiichihashimoto commented on #498
I'm on a flight to Japan for a nine day trip without my laptop so I won't be able to weigh in properly.

[2019-04-02 04:35] alexreardon commented on #871
- [x] conduct performance tests
- [x] pull out [`useMemoOne`](https://github.com/alexreardon/use-memo-one)
- [ ] wait for stable release of `react-redux@7` /cc @markerikson

[2019-04-02 10:23] Steffi3rd commented on #708
I have this problembut using async/await.

1 - I delete column id `3`
```await DELETE /column/3```
2 - Once deleted, I get the new list of columns (without my column `3`)
```await GET /columns```
3 - Then I delete a new column id `12`
```await DELETE /column/:id```
4 - Once deleted, I get the new list of columns (without my column `12`)
```await GET /columns```
5 - My column `12` is not here anymo

[2019-04-02 11:49] Steffi3rd opened #1212 "Cannot update droppable registration as no previous registration was found"
I have a problem when I delete column using async/await.

[code]
[code]

1 - I delete column id `3`

[code]

2 - Once deleted, I get the new list of columns (without my column `3`)

[code]

3 - Then I delete a new column id `12`

[code]

4 - Once deleted, I get the new list of columns (without my column `12`)

[code]

5 - My column `12` is not here anymore but just second later, there are two erro

[2019-04-02 11:59] Steffi3rd commented on #1212
https://github.com/atlassian/react-beautiful-dnd/issues/708

[2019-04-02 23:59] #1209 closed

[2019-04-03 00:00] alexreardon commented on #1206
This is fixed in #1208 so I won't action this issue directly.

[2019-04-03 00:00] #1206 closed

[2019-04-03 00:00] alexreardon commented on #1206
@lifeiscontent I am not totally across the effect you are after. Can you please provide some more information?

[2019-04-03 00:01] alexreardon commented on #1205
What is the use case you are trying to support? Do you think there is something wrong with the existing logic? Could we improve it?

[2019-04-03 00:04] alexreardon commented on #1205
It feels like this issue is getting at a problem in thinking about how we auto scroll.

Here are the values we use to control auto scroll behaviour:

https://github.com/atlassian/react-beautiful-dnd/blob/master/src/state/auto-scroller/fluid-scroller/config.js

[2019-04-03 00:11] alexreardon commented on #1212
Here is some information which hopefully addresses your issue. I do not have a total grasp of your flow, but I think I can see what is going on. Please correct my understanding if it is off.

So, your flow is:

1. do a drag and drop interaction
2. when the drag ends you fire off some async data updates
3. when the data updates resolve you update the UI

`react-beautiful-dnd` expects your UI to be

[2019-04-03 00:11] #1212 closed

[2019-04-03 00:15] alexreardon commented on #1204
I am not sure this is the best forum for this discussion. It is hard to answer you well as I am not sure what each of your components map to visually and what visual experience you are trying to achieve

[2019-04-03 00:17] alexreardon commented on #1203
Are you setting up `innerRef` correctly? https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/using-inner-ref.md

Also, I suspect that this issue might go away with #1208 as we are running this check in a `useEffect`.

[2019-04-03 05:08] alexreardon commented on #1194
Shipping #871

[2019-04-03 05:09] alexreardon commented on #871
You can play with the new hooks based implementation:

[code]

😍

[2019-04-03 05:14] alexreardon commented on #1194
[code]

You can have a play!

[2019-04-03 08:39] FEliuyg commented on #131
Are there any updates on this?

[2019-04-03 10:22] ldwstyle opened #1214 "when I drag card,the bottom card move"
example1：
when I drag card,the bottom card don't move
![TIM图片20190403181705](https://user-images.githubusercontent.com/30330931/55471695-eb774700-563c-11e9-931f-d1001f52b752.png)

example2:
when I drag card,the bottom card  move
![TIM图片20190403181801](https://user-images.githubusercontent.com/30330931/55471729-f9c56300-563c-11e9-935b-792c7c5c1974.png)

how to achieve the example1?(如何实现例子1中的效果？)

[2019-04-03 10:32] ldwstyle commented on #1175
how to have whitespace items between items? thank you

[2019-04-03 14:34] Haaxor1689 commented on #1001
Can anyone provide source or at least working example of tree drag and drop with react-beautiful-dnd and @atlaskit/tree?

[2019-04-03 16:10] lourenci opened #1215 "Testing with jsdom and react-testing-library"
Hi. Thanks for the library.

I'm trying to move a Draggable in `jsdom` with `react-testing-library` and I'm getting this error:

![image](https://user-images.githubusercontent.com/2339362/55494522-4c892580-5611-11e9-9965-e0fca9a2ac56.png)

Do you guys know anything about this error? It looks like something related with `css-box-model`. It just happens when I try to move the Draggable. All other sp

[2019-04-03 17:50] stelasido opened #1216 "Dragging only within parent container"
Hi, thx for the library. Is there a way to drag only inside the parent container ?
For the example, all dragged elements are with the width of its parent and they can't be dragged horizontally,  because of that (outside of the parent container).

[2019-04-03 20:39] garygreen opened #1217 "Does this really need to be a react-only library?"
This is by far the best and most polished drag/sortable library out there - but I question why it's a React only thing. Would it not be feasible to have this as a standard web component that can be used regardless of your framework of choice? That way the whole js community can benefit from the library.

It seems to me the general principles of dragging/sorting elements applies whether your using

[2019-04-03 23:11] alexreardon commented on #1217
Thanks for your kind words @garygreen. Knowing what I know now, I think it could be possible to do as you suggest. I don't see it being on the cards for a while as we are still trying to deliver some core features, but I am more open to this for sure

[2019-04-03 23:20] alexreardon commented on #1215
Because we use `window.getComputedStyles` and `element.getBoundingClientRect` you will need to mock these DOM apis. Currently jsdom does not support these well.

We do this all over this place in our tests, and here is one example:

https://github.com/atlassian/react-beautiful-dnd/blob/hooks/test/unit/integration/responders-integration.spec.js#L58-L66

[2019-04-03 23:20] #1215 closed

[2019-04-04 03:18] markdon commented on #1001
There's the atlaskit example [here](https://atlaskit.atlassian.com/packages/core/tree/example/drag-and-drop).

@atlaskit/tree can't drag between trees, but it doesn't require a huge amount of changes to make it happen. I came up with something that suits my use shown [here](https://github.com/atlassian/react-beautiful-dnd/issues/1109#issuecomment-475118595).

[2019-04-04 15:32] stelasido commented on #1216
I mean restriction to the parent container or X/y axis. I see that there is a way with `react-dnd`, because there is update prop from where you can get the position, but here the prop for updating is not called on movement.

[2019-04-04 19:20] nmain commented on #162
One potential use case I have that could be covered by this feature:  I have a draggable list, and some button outside of that list that sorts it in a particular way.  When I click the sort button, I'd like the list to sort, _and animate as it sorts_.  If there was programatic dragging, my sort code could just fire off a series of drags.

There are other libraries that do this, but if I'm already

[2019-04-04 19:39] Frankcarvajal commented on #1169
Still working on this, haven't had a chance in the last week

[2019-04-04 21:09] angellindo commented on #1205
@alexreardon is there a way to adjust those values to be precise the **startFromPercentage**

[2019-04-05 02:54] beatelite commented on #1191
I have this same issue.

I'm dynamically rendering a droppable list in a Material UI dialog modal.  I also have my draggables in a material UI drawer.

I can get them both to show up initially and can drag and drop between them. Once I DnD between the lists, and then I close the modal and try to click a new tab, I get the following errors :

`Uncaught Error: Invariant failed: Cannot unregister Dro

[2019-04-05 03:49] beatelite commented on #1191
Ok, mine is fixed and may not be the same problem.

 I was using the same component (in the tab and in the modal) to render the droppable lists of draggables (which I thought would be fine because the draggables were unique).

When I cloned the component into a new file, I gave it a different droppableID and used one in the modal and one in the tab. Now everything works!

[2019-04-05 14:10] elvisvasc commented on #302
Hi there,
i faced the same problem last week. I solved this using a contex api aproach. It's not the best solution in the world, but works for me.
See here:  https://codesandbox.io/embed/vnzw490w0y

[2019-04-05 22:13] lifeiscontent commented on #1204
@alexreardon basically, I'm recreating the UX of Visual Studio Code

it has tabs, and if you drag one of those tabs into a code editor it splits the tab into a new pane

[2019-04-06 08:13] greenkeeper[bot] opened #1223 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.11.2` to `1.12.0`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Fmonorepo.enzyme-20190406073542).

This version is **covered** by your **current version range** and after u

[2019-04-07 08:33] softmantk commented on #917
Can you have a look at this code,
If I move item 1 to down, and try moving item 2 the issue will arise.

My  onDragEnd logic is very simple .

[code]
Code sandbox link : https://codesandbox.io/embed/github/softmantk/react-dnd-example/tree/bug-invariant-error/

Github : https://github.com/softmantk/react-dnd-example/tree/bug-invariant-error

[2019-04-07 08:36] fallobst22 opened #1224 "Error when disabling draggable in v11.0.0-beta"
Setting isDragDisabled to true in version 11.0.0-beta will throw an Error. The same code will work with 10.1.1

Demo: https://codesandbox.io/embed/github/softmantk/react-dnd-example/tree/test-drag-disable/
Related Stackoverflow: https://stackoverflow.com/questions/55556640/getting-error-find-drag-handle-element-inside-of-draggable-when-adding-isdragd/

      Uncaught Error: Invariant failed:

[2019-04-07 10:05] softmantk commented on #917
When I downgraded to v10, I dont see this problem. I had another problem where I cant set isDragDisabled to true. That also fixed.

https://github.com/atlassian/react-beautiful-dnd/issues/1224

[2019-04-07 10:06] softmantk commented on #917
When I downgrade to v10 from v11 beta It solved my issue.

https://github.com/atlassian/react-beautiful-dnd/issues/1224

[2019-04-07 23:32] alexreardon opened #1225 "Discussion: Virtual list api"
We are planning on shipping virtual list support #68. However, I am not sure what the api should look like.

### Let's get into it

One big difference from an API perspective of supporting virtual lists is that the *dragging item (`<Draggable />`)* can be removed during a drag. Currently, this is not the case. So in order to support virtual lists we need to support the ability to render a clone as

[2019-04-07 23:47] alexreardon commented on #1224
Thanks @fallobst22!!! Love this. I'll take a look

[2019-04-08 00:09] theKashey commented on #1225
Edge case - virtual `table`. A "row" is a `<tr><td>..</td></tr>` and has to be rendered inside a _parent_ `table` which could be create by a VirtualTable itself.

So in short - some times you have to render a `clone` inside a virtual List, and some Lists gives you the ability to "inject" something inside, that changes how `renderDraggingItem` works - it shall be just passed down to  render props.

[2019-04-08 00:36] alexreardon commented on #1225
rbd could clone the item itself...
The main issue is letting the consumer control and use the `snapshot`.. 🤔

[2019-04-08 03:28] Frozenlock commented on #498
### Responder
This is great news! I think it's much better to have all `Droppable` being able to handle the drop action themselves :+1:

This makes it trivial to implement my previously given example :
Food `Draggable` :
- Freeze `Droppable`;
- Thaw `Droppable`;
- Cook `Droppable`.

Now each `Droppable` can have its own function to handle the drop.

In my particular case, having `Droppable` regist

[2019-04-08 03:57] greenkeeper[bot] opened #1228 "An in-range update of memoize-one is breaking the build 🚨"
## The dependency [memoize-one](https://github.com/alexreardon/memoize-one) was updated from `5.0.2` to `5.0.3`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Fmemoize-one-5.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

memoize-one is a direct depe

[2019-04-08 05:04] #1228 closed

[2019-04-08 05:04] alexreardon commented on #1224
Fix is in: `react-beautiful-dnd@11.0.0-beta.2`

[2019-04-08 05:04] #1224 closed

[2019-04-08 05:05] alexreardon commented on #1224
Fixed example: https://codesandbox.io/s/8yp65kmqp8

[2019-04-08 05:07] alexreardon commented on #1194
`react-beautiful-dnd@11.0.0-beta.2` is out!

[2019-04-08 05:39] alexreardon commented on #1224
Thanks for finding this @fallobst22

[2019-04-08 06:32] #1223 closed

[2019-04-08 12:38] greenkeeper[bot] opened #1230 "An in-range update of eslint-plugin-flowtype is breaking the build 🚨"
## The devDependency [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) was updated from `3.5.1` to `3.6.0`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Feslint-plugin-flowtype-3.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-04-08 13:24] shruti8789 commented on #510
how do i import jest?

[2019-04-08 13:30] tobiasandersen commented on #40
I'm also really interested in reconfiguring the shortcut for lifting a draggable. We're building a video editing system, where `space` is already used for playing/pausing videos.

If you're open to having it configurable I'd be happy to make a PR.

[2019-04-08 17:01] antoniojps commented on #1181
I'm having the same issue, can't figure out why this is happening.

[2019-04-08 22:56] #1230 closed

[2019-04-08 23:19] alexreardon commented on #1181
Hi there!

Thanks for raising this issue. Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

Without a standalone example, we will not be able to action this one

Cheers!

[2019-04-09 00:55] alexreardon commented on #1225
Right now a `sensor` is responsible for initiating a drag and movements during a drag. If we move to a clone strategy (which I think we will have to), then the `sensor` would only be responsible for starting a drag. Something else would need to manage the event listeners for a drag

[2019-04-09 03:48] #1166 closed

[2019-04-09 03:51] alexreardon commented on #216
Related: we might need this for #1225

[2019-04-09 05:28] mbs-zanas-stundys opened #1234 "Auto-scroll breaks when scroll parent is `overflow: overlay`"
## Bug or feature request?

Bug

### Expected behavior
Auto-scroll should work even if the scroll parent has `overflow: overlay`, just as with `overflow: scroll/auto`

### Actual behavior
Doesn't auto-scroll when the parent container has `overflow: overlay`

### Steps to reproduce

1. Make fixed-height container, that has `overflow: overlay` applied;
2. Make sure that the draggable area has suffic

[2019-04-09 05:41] alexreardon commented on #1234
According to MDN `overflow:overlay` is deprecated

https://developer.mozilla.org/en-US/docs/Web/CSS/overflow

Given that it is deprecated, I am not sure if it is worth adding support for

[2019-04-09 05:42] alexreardon commented on #1234
Thoughts?

[2019-04-09 05:43] alexreardon commented on #871
Until we a hook can setup context, we will not be moving to a hook based public API. We might investigate workarounds, but for now the render prop API will remain

[2019-04-09 05:46] alexreardon commented on #1194
`react-redux@7` has gone stable. I hope to ship `11.0` soon 😲

[2019-04-09 05:47] mbs-zanas-stundys commented on #1234
Oh, I didn't know that :) It is a pity, that it won't be fixed, because in my project I'm having a sticky/fixed header that aligns with the columns of the draggable items. I guess i'll have to use padding or something to counter that.

![image](https://user-images.githubusercontent.com/41042117/55776053-17af1f80-5aa4-11e9-99ca-0a2133b2d1d3.png)

[2019-04-09 05:48] mbs-zanas-stundys commented on #1234
Thanks for the reply :)

[2019-04-09 06:11] alexreardon commented on #1234
It would be trivial to add support (i suspect)

[2019-04-09 06:11] alexreardon commented on #1234
But it is a dark path to start adding support for deprecated features

[2019-04-09 06:11] #1234 closed

[2019-04-09 06:24] alexreardon commented on #1214
This behaviour changed in [`10.1.0`](https://github.com/atlassian/react-beautiful-dnd/releases/tag/v10.1.0)

You can read more about the change here: [beautiful interactions](https://medium.com/@alexandereardon/beautiful-interactions-8f67502ccf73)

[2019-04-09 06:24] #1214 closed

[2019-04-09 06:25] alexreardon commented on #1175
You can put a `margin` on items. Also, you could have `Draggable`s that are just white between other `Draggable`s 💃🔥

Is that what you are after?

[2019-04-09 06:25] #1175 closed

[2019-04-09 06:28] alexreardon commented on #1186
Okay, i think i can see what is going on. I will post some more findings soon

[2019-04-09 09:15] LucasMatuszewski commented on #133
+1

[2019-04-09 12:39] cilvet commented on #316
Coincidentally I've been looking for something like this, @mathieueveillard , what a coincidence you just posted it! thanks!

[2019-04-09 20:24] ianschmitz opened #1237 "@atlastkit/tree doesn't add placeholder element"
Sorry if this the wrong forum for the issue. I didn't see any obvious place to post issues on the BitBucket side. This is somewhat related to a previous issue i posted: https://github.com/atlassian/react-beautiful-dnd/issues/1162

## Bug or feature request?

Bug

### Expected behavior
The `@atlaskit/Tree` component renders the `provided.placeholder` in the `Droppable`.

### Actual behavior
No plac

[2019-04-09 20:43] pwolaq commented on #1194
Hi, I just want to report that #1138 is broken in `11.0.0-beta.2` - see here: https://codesandbox.io/s/ypv8xn70j

[2019-04-09 20:45] ccveer opened #1238 "aria-roledescription is not read for draggable items"
## Bug or feature request?

Bug

### Expected behavior
The aria-roledescription for a draggable item is read by Mac voice over

### Actual behavior
The aria-roledescription for a draggable item is NOT read by Mac voice over.  It appears that this has also been mentioned as an issue with JAWS in the comments here: https://github.com/atlassian/react-beautiful-dnd/issues/865
![image](https://user-ima

[2019-04-09 23:23] alexreardon commented on #1194
Thanks for the heads up @pwolaq - i will take a look

[2019-04-10 01:34] alexreardon opened #1239 "Discussion: drop decisions"
Right now we control what can be dropped over using `Droppable` `type` and `isDropEnabled`. A disabled `Droppable` is not informed if it is being dragged over.

Sometimes it is useful to know when a user is over a disabled droppable.

## Option: change `isDropDisabled` behaviour

Update the `onDragUpdate => DragUpdate`, `Droppable => DroppableStateSnapshot` and `Draggable => DraggableStateSnapshot

[2019-04-10 06:19] alexreardon commented on #1194
@pwolaq issue is now fixed in `11.0.0-beta.3`

[2019-04-10 06:52] sunran357 commented on #131
hi  sorry Are there any updates?  How long it will take
I need to use it

[2019-04-10 07:24] greenkeeper[bot] opened #1241 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.9.2` to `1.9.3`.

🚨 [View failing branch](https://github.com/atlassian/react-beautiful-dnd/compare/master...atlassian:greenkeeper%2Frollup-1.9.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It

[2019-04-10 13:15] shruti8789 commented on #1205
@alexreardon, If you try to drag a task outside this definite area (at the start or end of the tasks visible), as soon as you will pick the task the pane will start scrolling.
Problem: If you pick a task from below the area defined after which we start scrolling, it will automatically starts to scroll down, even if the intention of the user was to drag it upwards.

[2019-04-10 16:54] Frankcarvajal commented on #1169
I've unpacked the source code pretty heavy, starting to understand the patterns and the source code, I'm still working on this as I've had very little time. I really want this example to exist, I think it would really benefit a lot of people who create react tables with ordered content and would like drag and drop.

[2019-04-11 00:04] #1241 closed

[2019-04-11 00:54] alexreardon commented on #1160
This is going out in 11.0

[2019-04-11 00:54] #1160 closed

[2019-04-11 05:26] alexreardon opened #1244 "Discussion: What should our React peer dep be for 11.0?"
I am about to ship `11.0` #1193. I was hoping to have a peer dependency on `React` of `^16.8.0`. We rely on `react-redux@7` which shipped with a peer dependency on `React` of `^16.8.4`.

So if `react-beautiful-dnd` has a peer dependency is `^16.8.0` and a consumer uses `16.8.0` they will get a big old warning, and perhaps bundler issues.

I asked if `react-redux` could lower their peer dependency

[2019-04-11 05:32] smeads opened #1245 "TypeScript Error with isDragging Prop on Styled Component div element"
I'm new to react-beautiful-dnd and have enjoyed working with the library thus far.

I've been following the egghead tutorial and got to the point where you pass down the `isDragging` props to a styled `div`.  However, I get TypeScript errors on the styled component when adding `isDragging` as a prop and when trying to access it for dynamic styling.

I have updated all packages and peer dependencie

[2019-04-11 05:38] alexreardon commented on #1245
It looks like a typing issue with styled-components. I suspect there might be some hoops you need to jump through to get the correct typescript type on a styled component

[2019-04-11 05:39] alexreardon commented on #1245
I think this is what you are after: https://github.com/styled-components/styled-components/issues/630

[2019-04-11 05:39] #1245 closed

[2019-04-11 05:40] alexreardon commented on #1216
We currently do not support any locking out of the box as it goes against our [design principles](https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/about/design-principles.md)

[2019-04-11 05:40] #1216 closed

[2019-04-11 05:42] alexreardon commented on #1183
Thanks for all this detail. Right now we do not support multi-level drop. We can track it here: #1001

[2019-04-11 05:42] #1183 closed

[2019-04-11 05:43] alexreardon commented on #1183
I think that is what you are after. Let me know if that is not the case

[2019-04-11 05:43] smeads commented on #1245
@alexreardon thank you for the quick reply and I apologize for wasting your time. After playing with the interfaces and adding them to the styled div I was able to get it to work.

For anyone who might come across this:

[code]
or simply

[code]

@alexreardon thank you for this library!

[2019-04-11 05:43] alexreardon commented on #1182
Hi there!

Thanks for raising this issue. Can you please create a standalone example on `codesandbox.io` using our boilerplate: https://codesandbox.io/s/k260nyxq9v

Without a standalone example, we will not be able to action this one

Cheers!

[2019-04-11 05:44] alexreardon commented on #1182
It might be an area thing: try dropping the center of the dragging item onto your trash bin. If that works, try increasing the space your trash bin Droppable element takes up, even if it is visually the same size

[2019-04-11 05:45] alexreardon commented on #1176
Something like this? https://medium.com/@eamonngiblin/dynamically-update-positions-during-drag-using-react-beautiful-dnd-4a986d704c2e

[2019-04-11 05:45] #1176 closed

[2019-04-11 05:46] alexreardon commented on #1245
You're most welcome!

On Thu, Apr 11, 2019 at 3:43 PM Steven Meads <notifications@github.com>
wrote:

[2019-04-11 05:48] alexreardon commented on #1237
We are currently tracking @atlaskit/tree issues here: https://ecosystem.atlassian.net/servicedesk/customer/portal/24/create/236

I will be adding this to our upcoming issue templates

[2019-04-11 05:48] #1237 closed

[2019-04-11 05:49] alexreardon commented on #1237
I have also passed this on internally to the team that looks after tree

[2019-04-11 05:49] theKashey commented on #1244
`16.8.0-4` were not quite usable due to various bugs, especially around enzyme testing.

I would say `^16.8.5`

[2019-04-11 05:49] alexreardon commented on #1238
Try opening it out of the iframe. Aria in the iframe seems to get confused

[2019-04-11 05:50] alexreardon commented on #1238
[Out of the iframe](https://react-beautiful-dnd.netlify.com/iframe.html?id=tables--with-fixed-width-columns)

[2019-04-11 05:51] alexreardon commented on #1238
It seems to only effect the table example

[2019-04-11 05:51] theKashey commented on #1244
Oh, it will also force all customers to bump their React version, as long as it's not possible to have two different versions of React since hooks.

[2019-04-11 05:52] alexreardon commented on #1238
Let's track it here: #865

[2019-04-11 05:52] #1238 closed

[2019-04-11 05:53] alexreardon commented on #865
#1238 has some fantastic detail for reference.

Any suggestions on an alternative? `aria-roledescription` previously yielded the most consistent announcements

[2019-04-11 05:54] lukebatchelor commented on #1244
I think either solution is fine.

If you use `^16.8.0` and a consumer has `16.8.1` and they get a warning, well, that warning comes from react-redux, and is easily solved, so not a big deal to upgrade.

Likewise, depending on the later version is not really an issue right? Its a major bump already so any consumer is already going to be upgrading, moving the extra 4 patch versions won't make much o

[2019-04-11 05:55] lukebatchelor commented on #1244
Ah, given @theKashey 's thoughts, later is fine too. 🤷‍♂️

[2019-04-11 06:00] alexreardon commented on #1100
We are closing this issue due to inactivity. If you would like to continue the conversation feel free to reply to this issue and we can reopen it if needed.

[2019-04-11 06:00] #1100 closed

[2019-04-11 06:00] alexreardon commented on #1203
We are closing this issue due to inactivity. If you would like to continue the conversation feel free to reply to this issue and we can reopen it if needed.

[2019-04-11 06:00] #1203 closed

[2019-04-11 06:34] entiendoNull commented on #1183
Hey Alex, thanks for your reply :)
I did begin to write own logic to achieve my very specific use case. It's not done yet however. Your library provided some really good ideas though.

I will definitely check your recommendation out. I'll get back to you.

Keep up the great work :)

[2019-04-11 07:31] alexreardon commented on #1244
It seems like using `16.8.5` is the strongest option right now given the enzyme issues with previous versions

[2019-04-11 12:17] DhirajKhot opened #1246 "In case of Multi Drag dragging, behavior differs in above and below areas of the dragged item source location"
## Bug or feature request?
I am using this library and implementing multi drag support on top of it referring to the example mentioned in storybook in this repository itself.

On top of it I have added a below change -
Assume there are 10 tasks in the list and I have selected 3 tasks and start dragging one of it, during the drag the remaining 2 selected tasks should disappear from the list and sho

[2019-04-11 12:18] DhirajKhot commented on #1246
@alexreardon  Can you please help me fix this issue?

Thanks in advance.

[2019-04-11 15:43] PBDCompany opened #1247 "Object(...) is not a function"
## Bug or feature request?

Bug

### Expected behavior

I took the community made example from https://codesandbox.io/s/ql08j35j3q and tried adding it to my project.

### Actual behavior

The component doesn't render, instead the page crashes with the error 'Object(...) is not a function'.

### Steps to reproduce

Copy the example from https://codesandbox.io/s/ql08j35j3q, instead of user ReactDOM.

[2019-04-11 16:37] mejedi opened #1248 "Droppable element with extra content before draggables, incorrect drop position (visual glitch)"
## Bug or feature request?

disputable

### Expected behavior

Extra content inside a `droppable` before or after `draggable`-s should work just fine.

My use case: a rectangular area, with a heading describing this item group, followed by items arranged vertically. For usability sake I'd like to make a drop area as large as possible (i.e. to accept drops over a heading as well).

### Actual behav